# Genearate Data
Generate all data needed to run analysis

### Imports

In [1]:
import pandas as pd
import os
import qiime2 as q2
from qiime2.plugins import taxa

from python_scripts.import_split_biom import *

### Datatypes

### EAC ICGC

"Pan-Cancer Analysis of Whole Genomes." Nature, vol. 578, no. 7793, 2020, pp. 82-93,  https://doi.org/10.1038/s41586-020-1969-6. Accessed 17 Jan. 2024.
(Qiita: 14857)

Note: As a default now, removes the samples that are also in Ross-Innes (Ginny_list)  
Other params (might use):  remove_reag, keep_hu  
Other params (likely won't use):ZEBRA: zebra='EAC_ICGC_old', zebra_threshold=0.013, REMOVED sketky looking microbes: remove_bad_gotu=True

In [10]:
#Default
eac_14857_data_split(os.getcwd() +'/qiita_downloads/qiita14857_EAC_ICGC/162938_species_WoLr1_scrubbed/feature-table.biom',
                'EAC_ICGC_species_WOL_scrubbed')

,sample_name,project,filename,donor_sex,project_code,icgc_donor_id,icgc_sample_id,prior_malignancy,donor_relapse_type,donor_vital_status,...,donor_age_at_enrollment,study_donor_involved_in,donor_age_at_last_followup,disease_status_last_followup,donor_interval_of_last_followup,donor_tumour_stage_at_diagnosis,cancer_history_first_degree_relative,donor_tumour_staging_system_at_diagnosis,donor_tumour_stage_at_diagnosis_supplemental,qiita_study_id
1,14857.14521.0337efea9b59b88f804ea384c356377c,ESAD-UK,0337efea9b59b88f804ea384c356377c.filtered.bam,male,ESAD-UK,DO50389,SA528947,unknown,NaN,deceased,...,65.0,PCAWG,66.0,no evidence of disease,712.0,T2N0M0,no,TNM7,UICC:1b,14857
2,14857.14521.04a446c6a660694dafe43ccaf1db7162,ESAD-UK,04a446c6a660694dafe43ccaf1db7162.filtered.bam,male,ESAD-UK,DO50412,SA528884,unknown,NaN,alive,...,NaN,PCAWG,68.0,stable,401.0,T3N1M0,unknown,TNM6,UICC:3,14857
3,14857.14521.04ceb5f141916f7fc091a5e0aa51ada3,ESAD-UK,04ceb5f141916f7fc091a5e0aa51ada3.filtered.bam,male,ESAD-UK,DO50406,SA528949,unknown,NaN,alive,...,74.0,PCAWG,76.0,no evidence of disease,767.0,T2N0M0,no,TNM7,UICC:1b,14857

Total number of samples in EAC_ICGC_species_WOL_scrubbed  =  83
DF len 3453

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:236: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

### Normal/Healthy & GERD Esoph Brushings  
Deshpande, N. P., Riordan, S. M., CastaÃ±o-RodrÃ­guez, N., Wilkins, M. R. & Kaakoush, N. O. Signatures within the esophageal microbiome are associated with host genetics, age, and disease. Microbiome vol. 6 (2018) https://doi.org/10.1186/s40168-018-0611-4

Other params (might use):  remove_reag, keep_hu

##### Normal / Healthy Esophgous

In [3]:
#Default
gerd_normal_data_split('Normal',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169125_species_WOL_scrubbed/feature-table.biom',
                       'normal_species_WOL_scrubbed',)

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373136,55,YES,F,YES,Normal,H98_S89_SG,NO,H98,14458
1,14458.ERR2373134,70,YES,F,YES,Normal,H96_S87_SG,NO,H96,14458
2,14458.ERR2373133,23,YES,F,YES,Normal,H95_S86_SG,NO,H95,14458

Total number of samples in normal_species_WOL_scrubbed  =  50
DF len 2594

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:236: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### GERD

In [4]:
#Default
gerd_normal_data_split('GERD',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169125_species_WOL_scrubbed/feature-table.biom',
                       'GERD_species_WOL_scrubbed',)

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373137,53,NO,M,YES,GERD,H99_S90_SG,YES,H99,14458
1,14458.ERR2373135,36,NO,M,YES,GERD,H97_S88_SG,YES,H97,14458
2,14458.ERR2373132,34,NO,F,YES,GERD,H94_S85_SG,YES,H94,14458

Total number of samples in GERD_species_WOL_scrubbed  =  29
DF len 2594

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:236: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

### Barrett's Esophgous Progressors/Non Progressors
Paulson, T. G. et al. Somatic whole genome dynamics of precancer in Barrettâ€™s esophagus reveals features associated with disease progression. Nature Communications vol. 13 (2022) https://doi.org/10.1038/s41467-022-29767-7

Other params (might use):  remove_reag, keep_hu, exact_pairs = True

##### Barrett's Esophgous Non Progressors T1

In [5]:
#Default
be_data_split(['NP'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_species_WOL_scrubbed/feature-table.biom',
              'BE_NP_T1_species_WOL_scrubbed')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598,T1_NP

Total number of samples in BE_NP_T1_species_WOL_scrubbed  =  80
DF len 1578

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:236: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### [Currently not in paper] Barrett's Esophgous Non Progressors T2

In [6]:
#Default
be_data_split(['NP'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_species_WOL_scrubbed/feature-table.biom',
              'BE_NP_T2_species_WOL_scrubbed')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598,T2_NP
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598,T2_NP

Total number of samples in BE_NP_T2_species_WOL_scrubbed  =  78
DF len 1578

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:236: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [5]:
be_data_split(['NP'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_NP_T2_genome_RS210')

be_data_split(['NP'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_NP_T2_species_WOL')

be_data_split(['NP'], ['T2'], 
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_NP_T2_exact_zebra_genome_WOL',
             zebra = 'BE_WOL',
             exact_pairs = True)

be_data_split(['NP'], ['T2'], 
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_NP_T2_zebra_genome_WOL',
             zebra = 'BE_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598,T2_NP
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598,T2_NP

Total number of samples in BE_NP_T2_genome_RS210  =  74

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598,T2_NP
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598,T2_NP

Total number of samples in BE_NP_T2_species_WOL  =  78

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598,T2_NP
2,14598.PCGA.1068.BE.03,White_nonHispanic,M,59,T2,1,59-24989N-165S-BLD,3,23644,NP,69.0,14598,T2_NP

Total number of samples in BE_NP_T2_exact_zebra_genome_WOL  =  40

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598,T2_NP
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598,T2_NP

Total number of samples in BE_NP_T2_zebra_genome_WOL  =  78

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### Barrett's Esophgous Progressors T1

In [7]:
#Default
be_data_split(['Prog'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_species_WOL_scrubbed/feature-table.biom',
              'BE_Prog_T1_species_WOL_scrubbed')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog
1,14598.PCGA.1065.BE.04,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,3,24292,Prog,56.25,14598,T1_Prog
2,14598.PCGA.1066.BE.01,Other_Unknown,F,43,T1,1,43-24956N-29P-GST,1,23585,Prog,64.11,14598,T1_Prog

Total number of samples in BE_Prog_T1_species_WOL_scrubbed  =  79
DF len 1578

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:236: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### Barrett's Esophgous Progressors T2

In [8]:
#Default
be_data_split(['Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_species_WOL_scrubbed/feature-table.biom',
              'BE_Prog_T2_species_WOL_scrubbed')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598,T2_Prog
2,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598,T2_Prog

Total number of samples in BE_Prog_T2_species_WOL_scrubbed  =  79
DF len 1578

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:236: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

### BE, EAC Tissue
Ross-Innes, C. S. et al. Whole-genome sequencing provides new insights into the clonal architecture of Barrettâ€™s esophagus and esophageal adenocarcinoma. Nature Genetics vol. 47 1038â€“1046 (2015) https://doi.org/10.1038/ng.3357. This also has normal tissue but we are not using it.

Note: As a default now, only keeps the exact 23 samples that are acutally in Ross-Innes publication (Ginny_list)  
Other params (might use):  remove_reag, keep_hu

##### BE

In [4]:
#Default
normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired_scrubbed/feature-table.biom',
                         'BE_Ross_species_WOL_scrubbed')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),...,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity,EGA_ID,EGAIdentifier
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,...,92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8,EGAF00000530875,LP6007521-DNA_A01
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,...,93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6,EGAF00000586502,LP6005335-DNA_A01
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,...,93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3,EGAF00000525202,LP6007410-DNA_A01

Total number of samples in BE_Ross_species_WOL_scrubbed  =  23
DF len 2605

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:236: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### EAC

In [5]:
#Default
normal_be_eac_data_split(['EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired_scrubbed/feature-table.biom',
                         'EAC_Ross_species_WOL_scrubbed')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),...,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity,EGA_ID,EGAIdentifier
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,...,93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5,EGAF00000530893,LP6007520-DNA_A01
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,...,93.70,306.0,5.03,0.224,58.86,0.972,NaN,0.7,EGAF00000586547,LP6005334-DNA_A03
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,...,93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4,EGAF00000525525,LP6007409-DNA_A01

Total number of samples in EAC_Ross_species_WOL_scrubbed  =  23
DF len 2605

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:236: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

### [Supplemental?] From Sam: Barrett's Esophgous Progressors/Non Progressors: using MetaPhlan4
Paulson, T. G. et al. Somatic whole genome dynamics of precancer in Barrettâ€™s esophagus reveals features associated with disease progression. Nature Communications vol. 13 (2022) https://doi.org/10.1038/s41467-022-29767-7

Note:  
Classic MetaPhlan4 : /Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/metaphlan.wide.species.csv (remove the 'True' if you want this)
Counts MetaPhlan4: /Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv

##### Barrett's Esophgous Non Progressors T1

In [8]:
Sam_BE_data_split(['NP'], ['T1'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_NP_T1_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598

Total number of samples in BE_NP_T1_species_MP_counts  =  53

##### Barrett's Esophgous Non Progressors T2

In [5]:
Sam_BE_data_split(['NP'], ['T2'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_NP_T2_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598

Total number of samples in BE_NP_T2_species_MP  =  58

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598

Total number of samples in BE_NP_T2_species_MP_counts  =  58

##### Barrett's Esophgous Progressors T1

In [9]:
Sam_BE_data_split(['Prog'], ['T1'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_Prog_T1_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598
1,14598.PCGA.1065.BE.04,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,3,24292,Prog,56.25,14598
2,14598.PCGA.1066.BE.01,Other_Unknown,F,43,T1,1,43-24956N-29P-GST,1,23585,Prog,64.11,14598

Total number of samples in BE_Prog_T1_species_MP_counts  =  40

##### Barrett's Esophgous Progressors T2

In [10]:
Sam_BE_data_split(['Prog'], ['T2'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_Prog_T2_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598
2,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598

Total number of samples in BE_Prog_T2_species_MP_counts  =  51