# Genearate Data
Generate all data needed to run analysis

### Imports

In [1]:
import pandas as pd
import os
import qiime2 as q2
from qiime2.plugins import taxa

from python_scripts.import_split_biom import *

### Datatypes

### EAC 
From ICGC, not exact paper

In [6]:
eac_data_split(os.getcwd() +'/qiita_downloads/qiita14521_EAC_ICGC/147030_species_WOL.biom',
                'EAC_species_WOL')

eac_data_split(os.getcwd() +'/qiita_downloads/qiita14521_EAC_ICGC/147032_genome_WOL.biom',
                'EAC_genome_WOL')

Total number of samples in EAC_species_WOL  =  98

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,cancer_history_first_degree_relative,disease_status_last_followup,donor_age_at_diagnosis,donor_age_at_enrollment,donor_age_at_last_followup,donor_diagnosis_icd10,donor_interval_of_last_followup,donor_relapse_interval,donor_relapse_type,...,donor_vital_status,filename,icgc_donor_id,icgc_sample_id,prior_malignancy,project,project_code,qiita_study_id,study_donor_involved_in,submitted_donor_id
0,14521.006cdcd42d55e07a2fd1ad2d31dd1a87,unknown,relapse,58.0,58.0,58.0,C15.5,299.0,123.0,distant recurrence/metastasis,...,deceased,006cdcd42d55e07a2fd1ad2d31dd1a87.filtered.bam,DO50381,SA528854,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-RS-031
1,14521.0337efea9b59b88f804ea384c356377c,no,no evidence of disease,65.0,65.0,66.0,C15.5,712.0,NaN,NaN,...,deceased,0337efea9b59b88f804ea384c356377c.filtered.bam,DO50389,SA528947,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-SH-071
2,14521.04a446c6a660694dafe43ccaf1db7162,unknown,stable,67.0,NaN,68.0,C15.5,401.0,NaN,NaN,...,alive,04a446c6a660694dafe43ccaf1db7162.filtered.bam,DO50412,SA528884,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-ZZ-019

Total number of samples in EAC_genome_WOL  =  98

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,cancer_history_first_degree_relative,disease_status_last_followup,donor_age_at_diagnosis,donor_age_at_enrollment,donor_age_at_last_followup,donor_diagnosis_icd10,donor_interval_of_last_followup,donor_relapse_interval,donor_relapse_type,...,donor_vital_status,filename,icgc_donor_id,icgc_sample_id,prior_malignancy,project,project_code,qiita_study_id,study_donor_involved_in,submitted_donor_id
0,14521.006cdcd42d55e07a2fd1ad2d31dd1a87,unknown,relapse,58.0,58.0,58.0,C15.5,299.0,123.0,distant recurrence/metastasis,...,deceased,006cdcd42d55e07a2fd1ad2d31dd1a87.filtered.bam,DO50381,SA528854,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-RS-031
1,14521.0337efea9b59b88f804ea384c356377c,no,no evidence of disease,65.0,65.0,66.0,C15.5,712.0,NaN,NaN,...,deceased,0337efea9b59b88f804ea384c356377c.filtered.bam,DO50389,SA528947,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-SH-071
2,14521.04a446c6a660694dafe43ccaf1db7162,unknown,stable,67.0,NaN,68.0,C15.5,401.0,NaN,NaN,...,alive,04a446c6a660694dafe43ccaf1db7162.filtered.bam,DO50412,SA528884,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-ZZ-019

()

### Normal/Healthy & GERD Esoph Brushings  
Deshpande, N. P., Riordan, S. M., Castaño-Rodríguez, N., Wilkins, M. R. & Kaakoush, N. O. Signatures within the esophageal microbiome are associated with host genetics, age, and disease. Microbiome vol. 6 (2018) https://doi.org/10.1186/s40168-018-0611-4

#### Convert to various types form Qiime2

In [22]:
#Table
table = q2.Artifact.import_data('FeatureTable[Frequency]', os.getcwd() + '/qiita_downloads/qiita14458_NormalGerdEsoph/169125_none_WOL.biom')

#WOL Taxonomy
taxdf = pd.read_csv('/Users/cguccion/Dropbox/Storage/HelpfulLabDocs/taxonomy_trees/WOL/lineages.txt', sep='\t', index_col=0, header=None)
taxdf.columns = ['Taxon']
taxdf.index.name = 'Feature ID'
taxonomy = q2.Artifact.import_data('FeatureData[Taxonomy]', taxdf)

collapsed_table = taxa.methods.collapse(table=table, taxonomy=taxonomy, level=7).collapsed_table

#display(collapsed_table.view(pd.DataFrame).T)
Artifact.export_data(collapsed_table, 'species_WOL')

##### Normal / Healthy Esophgous

In [4]:
gerd_normal_data_split('Normal',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169129_perGenome_RS210.biom',
                       'normal_genome_RS210')

gerd_normal_data_split('Normal',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/species_WOL/feature-table.biom',
                       'normal_species_WOL')

gerd_normal_data_split('Normal',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169125_none_WOL.biom',
                       'normal_genome_WOL')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373136,55,YES,F,YES,Normal,H98_S89_SG,NO,H98,14458
1,14458.ERR2373134,70,YES,F,YES,Normal,H96_S87_SG,NO,H96,14458
2,14458.ERR2373133,23,YES,F,YES,Normal,H95_S86_SG,NO,H95,14458

Total number of samples in normal_genome_RS210  =  50

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373136,55,YES,F,YES,Normal,H98_S89_SG,NO,H98,14458
1,14458.ERR2373134,70,YES,F,YES,Normal,H96_S87_SG,NO,H96,14458
2,14458.ERR2373133,23,YES,F,YES,Normal,H95_S86_SG,NO,H95,14458

Total number of samples in normal_species_WOL  =  50

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373136,55,YES,F,YES,Normal,H98_S89_SG,NO,H98,14458
1,14458.ERR2373134,70,YES,F,YES,Normal,H96_S87_SG,NO,H96,14458
2,14458.ERR2373133,23,YES,F,YES,Normal,H95_S86_SG,NO,H95,14458

Total number of samples in normal_genome_WOL  =  50

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### GERD

In [5]:
gerd_normal_data_split('GERD',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169129_perGenome_RS210.biom',
                       'GERD_genome_RS210')

gerd_normal_data_split('GERD',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/species_WOL/feature-table.biom',
                       'GERD_species_WOL')

gerd_normal_data_split('GERD',
                       os.getcwd() + '/qiita_downloads/qiita14458_NormalGerdEsoph/169125_none_WOL.biom',
                       'GERD_genome_WOL')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373137,53,NO,M,YES,GERD,H99_S90_SG,YES,H99,14458
1,14458.ERR2373135,36,NO,M,YES,GERD,H97_S88_SG,YES,H97,14458
2,14458.ERR2373132,34,NO,F,YES,GERD,H94_S85_SG,YES,H94,14458

Total number of samples in GERD_genome_RS210  =  29

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373137,53,NO,M,YES,GERD,H99_S90_SG,YES,H99,14458
1,14458.ERR2373135,36,NO,M,YES,GERD,H97_S88_SG,YES,H97,14458
2,14458.ERR2373132,34,NO,F,YES,GERD,H94_S85_SG,YES,H94,14458

Total number of samples in GERD_species_WOL  =  29

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373137,53,NO,M,YES,GERD,H99_S90_SG,YES,H99,14458
1,14458.ERR2373135,36,NO,M,YES,GERD,H97_S88_SG,YES,H97,14458
2,14458.ERR2373132,34,NO,F,YES,GERD,H94_S85_SG,YES,H94,14458

Total number of samples in GERD_genome_WOL  =  29

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

### From Sam: Barrett's Esophgous Progressors/Non Progressors: using MetaPhlan4
Paulson, T. G. et al. Somatic whole genome dynamics of precancer in Barrett’s esophagus reveals features associated with disease progression. Nature Communications vol. 13 (2022) https://doi.org/10.1038/s41467-022-29767-7

##### Barrett's Esophgous

In [2]:
#Relative Abudnace
Sam_BE_data_split(['NP', 'Prog'], ['T1', 'T2'], #, 'LongFollowUp'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/metaphlan.wide.species.csv',
              'BE_species_MP')

#Counts
Sam_BE_data_split(['NP', 'Prog'], ['T1', 'T2'], #, 'LongFollowUp'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598

Total number of samples in BE_species_MP  =  202

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598

Total number of samples in BE_species_MP_counts  =  202

##### Barrett's Esophgous Non Progressors

In [3]:
Sam_BE_data_split(['NP',], ['T1', 'T2'], #, 'LongFollowUp'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/metaphlan.wide.species.csv',
              'BE_NP_species_MP')

#Counts
Sam_BE_data_split(['NP'], ['T1', 'T2'], #, 'LongFollowUp'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_NP_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598

Total number of samples in BE_NP_species_MP  =  111

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598

Total number of samples in BE_NP_species_MP_counts  =  111

##### Barrett's Esophgous Non Progressors T1

In [4]:
Sam_BE_data_split(['NP',], ['T1'], 
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/metaphlan.wide.species.csv',
              'BE_NP_T1_species_MP')

#Counts
Sam_BE_data_split(['NP'], ['T1'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_NP_T1_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598

Total number of samples in BE_NP_T1_species_MP  =  53

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598

Total number of samples in BE_NP_T1_species_MP_counts  =  53

##### Barrett's Esophgous Non Progressors T2

In [5]:
Sam_BE_data_split(['NP',], ['T2'], 
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/metaphlan.wide.species.csv',
              'BE_NP_T2_species_MP')

#Counts
Sam_BE_data_split(['NP'], ['T2'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_NP_T2_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598

Total number of samples in BE_NP_T2_species_MP  =  58

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598

Total number of samples in BE_NP_T2_species_MP_counts  =  58

##### Barrett's Esophgous Progressors

In [6]:
Sam_BE_data_split(['Prog',], ['T1', 'T2'], #, 'LongFollowUp'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/metaphlan.wide.species.csv',
              'BE_Prog_species_MP')

#Counts
Sam_BE_data_split(['Prog'], ['T1', 'T2'], #, 'LongFollowUp'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_Prog_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598

Total number of samples in BE_Prog_species_MP  =  91

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598

Total number of samples in BE_Prog_species_MP_counts  =  91

##### Barrett's Esophgous Progressors T1

In [7]:
Sam_BE_data_split(['Prog',], ['T1'], 
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/metaphlan.wide.species.csv',
              'BE_Prog_T1_species_MP')

#Counts
Sam_BE_data_split(['Prog'], ['T1'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_Prog_T1_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598
1,14598.PCGA.1065.BE.04,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,3,24292,Prog,56.25,14598
2,14598.PCGA.1066.BE.01,Other_Unknown,F,43,T1,1,43-24956N-29P-GST,1,23585,Prog,64.11,14598

Total number of samples in BE_Prog_T1_species_MP  =  40

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598
1,14598.PCGA.1065.BE.04,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,3,24292,Prog,56.25,14598
2,14598.PCGA.1066.BE.01,Other_Unknown,F,43,T1,1,43-24956N-29P-GST,1,23585,Prog,64.11,14598

Total number of samples in BE_Prog_T1_species_MP_counts  =  40

##### Barrett's Esophgous Progressors T2

In [8]:
Sam_BE_data_split(['Prog',], ['T2'], 
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/metaphlan.wide.species.csv',
              'BE_Prog_T2_species_MP')

#Counts
Sam_BE_data_split(['Prog'], ['T2'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_Prog_T2_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598
2,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598

Total number of samples in BE_Prog_T2_species_MP  =  51

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598
2,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598

Total number of samples in BE_Prog_T2_species_MP_counts  =  51

### Barrett's Esophgous Progressors/Non Progressors
Paulson, T. G. et al. Somatic whole genome dynamics of precancer in Barrett’s esophagus reveals features associated with disease progression. Nature Communications vol. 13 (2022) https://doi.org/10.1038/s41467-022-29767-7

##### Barrett's Esophgous

In [2]:
be_data_split(['NP', 'Prog'], ['T1', 'T2'], #, 'LongFollowUp'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_genome_RS210')

be_data_split(['NP', 'Prog'], ['T1', 'T2'], #, 'LongFollowUp'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_species_WOL')

be_data_split(['NP', 'Prog'], ['T1', 'T2'], #, 'LongFollowUp'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_genome_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_genome_RS210  =  302

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_species_WOL  =  316

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_genome_WOL  =  316

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### Barrett's Esophgous Non Progressors

In [3]:
be_data_split(['NP'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_NP_genome_RS210')

be_data_split(['NP'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_NP_species_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_NP_genome_RS210  =  150

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_NP_species_WOL  =  158

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### Barrett's Esophgous Non Progressors T1

In [6]:
be_data_split(['NP'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_NP_T1_genome_RS210')

be_data_split(['NP'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_NP_T1_species_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598

Total number of samples in BE_NP_T1_genome_RS210  =  76

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598

Total number of samples in BE_NP_T1_species_WOL  =  80

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### Barrett's Esophgous Non Progressors T2

In [7]:
be_data_split(['NP'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_NP_T2_genome_RS210')

be_data_split(['NP'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_NP_T2_species_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598

Total number of samples in BE_NP_T2_genome_RS210  =  74

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598

Total number of samples in BE_NP_T2_species_WOL  =  78

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### Barrett's Esophgous Progressors

In [4]:
be_data_split(['Prog'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_Prog_genome_RS210')

be_data_split(['Prog'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_Prog_species_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598,T2_Prog
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog

Total number of samples in BE_Prog_genome_RS210  =  152

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598,T2_Prog
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog

Total number of samples in BE_Prog_species_WOL  =  158

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### Barrett's Esophgous Progressors T1

In [9]:
be_data_split(['Prog'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_Prog_T1_genome_RS210')

be_data_split(['Prog'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_Prog_T1_species_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598
1,14598.PCGA.1065.BE.04,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,3,24292,Prog,56.25,14598
2,14598.PCGA.1066.BE.01,Other_Unknown,F,43,T1,1,43-24956N-29P-GST,1,23585,Prog,64.11,14598

Total number of samples in BE_Prog_T1_genome_RS210  =  76

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598
1,14598.PCGA.1065.BE.04,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,3,24292,Prog,56.25,14598
2,14598.PCGA.1066.BE.01,Other_Unknown,F,43,T1,1,43-24956N-29P-GST,1,23585,Prog,64.11,14598

Total number of samples in BE_Prog_T1_species_WOL  =  79

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### Barrett's Esophgous Progressors T2

In [8]:
be_data_split(['Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_Prog_T2_genome_RS210')

be_data_split(['Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_Prog_T2_species_WOL')

be_data_split(['Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_Prog_T2_genome_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598
2,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598

Total number of samples in BE_Prog_T2_genome_RS210  =  76

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598
2,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598

Total number of samples in BE_Prog_T2_species_WOL  =  79

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598
2,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598

Total number of samples in BE_Prog_T2_genome_WOL  =  79

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### Barrett's Esophgous T1

In [5]:
be_data_split(['NP','Prog'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_T1_genome_RS210')

be_data_split(['NP', 'Prog'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_T1_species_WOL')

be_data_split(['NP', 'Prog'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_T1_genome_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog

Total number of samples in BE_T1_genome_RS210  =  152

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog

Total number of samples in BE_T1_species_WOL  =  159

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog

Total number of samples in BE_T1_genome_WOL  =  159

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### Barrett's Esophgous T2

In [6]:
be_data_split(['NP','Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_T2_genome_RS210')

be_data_split(['NP', 'Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_T2_species_WOL')

be_data_split(['NP', 'Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_T2_genome_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598,T2_NP
2,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog

Total number of samples in BE_T2_genome_RS210  =  150

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598,T2_NP
2,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog

Total number of samples in BE_T2_species_WOL  =  157

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598,T2_NP
2,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog

Total number of samples in BE_T2_genome_WOL  =  157

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

### Normal, BE, EAC Tissue 
Ross-Innes, C. S. et al. Whole-genome sequencing provides new insights into the clonal architecture of Barrett’s esophagus and esophageal adenocarcinoma. Nature Genetics vol. 47 1038–1046 (2015) https://doi.org/10.1038/ng.3357

##### Normal, BE, EAC

In [3]:
normal_be_eac_data_split(['Normal', 'Barretts', 'EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_combo_R1_R2_paired_unpaired.biom',
                         'ALL_Ross_combo_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in ALL_Ross_combo_species_WOL  =  88

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [3]:
normal_be_eac_data_split(['Normal', 'Barretts', 'EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired.biom',
                         'ALL_Ross_paired_species_WOL')

normal_be_eac_data_split(['Normal', 'Barretts', 'EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/genome_WOL_R1_R2_paired.biom',
                         'ALL_Ross_paired_genome_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in ALL_Ross_paired_species_WOL  =  88

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in ALL_Ross_paired_genome_WOL  =  88

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [6]:
normal_be_eac_data_split(['Normal', 'Barretts', 'EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_unpaired.biom',
                         'ALL_Ross_unpaired_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in ALL_Ross_unpaired_species_WOL  =  88

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### BE

In [8]:
normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_combo_R1_R2_paired_unpaired.biom',
                         'BE_Ross_combo_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in BE_Ross_combo_species_WOL  =  35

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [4]:
normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired.biom',
                         'BE_Ross_paired_species_WOL')

normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/genome_WOL_R1_R2_paired.biom',
                         'BE_Ross_paired_genome_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in BE_Ross_paired_species_WOL  =  35

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in BE_Ross_paired_genome_WOL  =  35

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [10]:
normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_unpaired.biom',
                         'BE_Ross_unpaired_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in BE_Ross_unpaired_species_WOL  =  35

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [6]:
normal_be_eac_data_split(['EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired.biom',
                         'EAC_Ross_paired_species_WOL')

normal_be_eac_data_split(['EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/genome_WOL_R1_R2_paired.biom',
                         'EAC_Ross_paired_genome_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"950,588,085",93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"995,657,497",93.70,306.0,5.03,0.224,58.86,0.972,NaN,0.7
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"1,068,844,258",93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4

Total number of samples in EAC_Ross_paired_species_WOL  =  30

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"950,588,085",93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"995,657,497",93.70,306.0,5.03,0.224,58.86,0.972,NaN,0.7
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"1,068,844,258",93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4

Total number of samples in EAC_Ross_paired_genome_WOL  =  30

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [6]:
normal_be_eac_data_split('EAC',
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_combo_R1_R2_paired_unpaired.biom',
                         'EAC_Ross_combo_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"950,588,085",93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"995,657,497",93.70,306.0,5.03,0.224,58.86,0.972,NaN,0.7
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"1,068,844,258",93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4

Total number of samples in EAC_Ross_combo_species_WOL  =  30

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [7]:
normal_be_eac_data_split('Normal',
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_combo_R1_R2_paired_unpaired.biom',
                         'Norm_Ross_combo_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Normal_10_EGAF00000530908,10,Normal,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"807,792,398",92.49,296.0,5.03,0.245,48.64,0.968,3523708.0,NaN
1,Normal_11_EGAF00000586533,11,Normal,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"639,793,060",92.22,315.0,4.88,0.241,37.77,0.969,3541117.0,NaN
2,Normal_12_EGAF00000525507,12,Normal,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"559,984,669",88.64,299.0,5.09,0.257,32.15,0.964,3491591.0,NaN

Total number of samples in Norm_Ross_combo_species_WOL  =  23

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [7]:
normal_be_eac_data_split(['Normal'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired.biom',
                         'Norm_Ross_paired_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Normal_10_EGAF00000530908,10,Normal,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"807,792,398",92.49,296.0,5.03,0.245,48.64,0.968,3523708.0,NaN
1,Normal_11_EGAF00000586533,11,Normal,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"639,793,060",92.22,315.0,4.88,0.241,37.77,0.969,3541117.0,NaN
2,Normal_12_EGAF00000525507,12,Normal,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"559,984,669",88.64,299.0,5.09,0.257,32.15,0.964,3491591.0,NaN

Total number of samples in Norm_Ross_paired_species_WOL  =  23

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [10]:
normal_be_eac_data_split(['Normal', 'Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired.biom',
                         'Norm_BE_Ross_paired_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in Norm_BE_Ross_paired_species_WOL  =  58

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [11]:
normal_be_eac_data_split(['Barretts', 'EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired.biom',
                         'BE_EAC_Ross_paired_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in BE_EAC_Ross_paired_species_WOL  =  65

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

#### EAC

In [2]:
eac_data_split(os.getcwd() + '/qiita_downloads/qiita14521_EAC_ICGC/147032_perGenome_WOL.biom',
                         'EAC_species_WOL')

Total number of samples in EAC_species_WOL  =  98

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()