# Genearate Data
Generate all data needed to run analysis

### Imports

In [1]:
import pandas as pd
import os
import qiime2 as q2
from qiime2.plugins import taxa

from python_scripts.import_split_biom import *

### Datatypes

### EAC ICGC

"Pan-Cancer Analysis of Whole Genomes." Nature, vol. 578, no. 7793, 2020, pp. 82-93,  https://doi.org/10.1038/s41586-020-1969-6. Accessed 17 Jan. 2024.

(Qiita: 14857)

###### Used in paper

In [2]:
eac_14857_data_split(os.getcwd() +'/qiita_downloads/qiita14857_EAC_ICGC/162938_species_WoLr1_scrubbed/feature-table.biom',
                'EAC_ICGC_ginnyR_species_WOL_scrubbed', Ginny_list=True)

,sample_name,project,filename,donor_sex,project_code,icgc_donor_id,icgc_sample_id,prior_malignancy,donor_relapse_type,donor_vital_status,...,donor_age_at_enrollment,study_donor_involved_in,donor_age_at_last_followup,disease_status_last_followup,donor_interval_of_last_followup,donor_tumour_stage_at_diagnosis,cancer_history_first_degree_relative,donor_tumour_staging_system_at_diagnosis,donor_tumour_stage_at_diagnosis_supplemental,qiita_study_id
1,14857.14521.0337efea9b59b88f804ea384c356377c,ESAD-UK,0337efea9b59b88f804ea384c356377c.filtered.bam,male,ESAD-UK,DO50389,SA528947,unknown,NaN,deceased,...,65.0,PCAWG,66.0,no evidence of disease,712.0,T2N0M0,no,TNM7,UICC:1b,14857
2,14857.14521.04a446c6a660694dafe43ccaf1db7162,ESAD-UK,04a446c6a660694dafe43ccaf1db7162.filtered.bam,male,ESAD-UK,DO50412,SA528884,unknown,NaN,alive,...,NaN,PCAWG,68.0,stable,401.0,T3N1M0,unknown,TNM6,UICC:3,14857
3,14857.14521.04ceb5f141916f7fc091a5e0aa51ada3,ESAD-UK,04ceb5f141916f7fc091a5e0aa51ada3.filtered.bam,male,ESAD-UK,DO50406,SA528949,unknown,NaN,alive,...,74.0,PCAWG,76.0,no evidence of disease,767.0,T2N0M0,no,TNM7,UICC:1b,14857

Total number of samples in EAC_ICGC_ginnyR_species_WOL_scrubbed  =  83
<artifact: FeatureTable[Frequency] uuid: f93e08ee-a9f5-488c-8afd-d0d8a32ab2b9>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:133: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [3]:
eac_14857_data_split(os.getcwd() +'/qiita_downloads/qiita14857_EAC_ICGC/162938_species_WoLr1_scrubbed/feature-table.biom',
                'EAC_ICGC_ginnyR_species_WOL_scrubbed_rmBad', Ginny_list=True, remove_bad_microbes=True)

,sample_name,project,filename,donor_sex,project_code,icgc_donor_id,icgc_sample_id,prior_malignancy,donor_relapse_type,donor_vital_status,...,donor_age_at_enrollment,study_donor_involved_in,donor_age_at_last_followup,disease_status_last_followup,donor_interval_of_last_followup,donor_tumour_stage_at_diagnosis,cancer_history_first_degree_relative,donor_tumour_staging_system_at_diagnosis,donor_tumour_stage_at_diagnosis_supplemental,qiita_study_id
1,14857.14521.0337efea9b59b88f804ea384c356377c,ESAD-UK,0337efea9b59b88f804ea384c356377c.filtered.bam,male,ESAD-UK,DO50389,SA528947,unknown,NaN,deceased,...,65.0,PCAWG,66.0,no evidence of disease,712.0,T2N0M0,no,TNM7,UICC:1b,14857
2,14857.14521.04a446c6a660694dafe43ccaf1db7162,ESAD-UK,04a446c6a660694dafe43ccaf1db7162.filtered.bam,male,ESAD-UK,DO50412,SA528884,unknown,NaN,alive,...,NaN,PCAWG,68.0,stable,401.0,T3N1M0,unknown,TNM6,UICC:3,14857
3,14857.14521.04ceb5f141916f7fc091a5e0aa51ada3,ESAD-UK,04ceb5f141916f7fc091a5e0aa51ada3.filtered.bam,male,ESAD-UK,DO50406,SA528949,unknown,NaN,alive,...,74.0,PCAWG,76.0,no evidence of disease,767.0,T2N0M0,no,TNM7,UICC:1b,14857

Total number of samples in EAC_ICGC_ginnyR_species_WOL_scrubbed_rmBad  =  83
<artifact: FeatureTable[Frequency] uuid: 3d723418-2280-4477-971f-eb9aa9034a25>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:133: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [3]:
#NOTE: This was used prior to May 2024 -- but a little tricky in how things were removed so going to clean it up now
#since we have to re-do with exact microbes from Ginny
eac_14857_data_split(os.getcwd() +'/qiita_downloads/qiita14857_EAC_ICGC/162938_species_WoLr1_scrubbed/feature-table.biom',
                'EAC_ICGC_wo-RI_species_WOL_scrubbed_rmBad',
                     remove_bad_microbes=True)

,sample_name,project,filename,donor_sex,project_code,icgc_donor_id,icgc_sample_id,prior_malignancy,donor_relapse_type,donor_vital_status,...,donor_age_at_enrollment,study_donor_involved_in,donor_age_at_last_followup,disease_status_last_followup,donor_interval_of_last_followup,donor_tumour_stage_at_diagnosis,cancer_history_first_degree_relative,donor_tumour_staging_system_at_diagnosis,donor_tumour_stage_at_diagnosis_supplemental,qiita_study_id
0,14857.14521.006cdcd42d55e07a2fd1ad2d31dd1a87,ESAD-UK,006cdcd42d55e07a2fd1ad2d31dd1a87.filtered.bam,male,ESAD-UK,DO50381,SA528854,unknown,distant recurrence/metastasis,deceased,...,58.0,PCAWG,58.0,relapse,299.0,T3N1M0,unknown,TNM7,UICC:3a,14857
1,14857.14521.0337efea9b59b88f804ea384c356377c,ESAD-UK,0337efea9b59b88f804ea384c356377c.filtered.bam,male,ESAD-UK,DO50389,SA528947,unknown,NaN,deceased,...,65.0,PCAWG,66.0,no evidence of disease,712.0,T2N0M0,no,TNM7,UICC:1b,14857
2,14857.14521.04a446c6a660694dafe43ccaf1db7162,ESAD-UK,04a446c6a660694dafe43ccaf1db7162.filtered.bam,male,ESAD-UK,DO50412,SA528884,unknown,NaN,alive,...,NaN,PCAWG,68.0,stable,401.0,T3N1M0,unknown,TNM6,UICC:3,14857

Total number of samples in EAC_ICGC_wo-RI_species_WOL_scrubbed_rmBad  =  97
<artifact: FeatureTable[Frequency] uuid: c5d588cb-fe0d-49b7-b529-3f7484f23196>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:127: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

###### Not in paper

In [ ]:
eac_14857_data_split(os.getcwd() +'/qiita_downloads/qiita14857_EAC_ICGC/162938_species_WoLr1_scrubbed/feature-table.biom',
                'EAC_ICGC_wo-RI_species_WOL_scrubbed')

In [2]:
eac_14857_data_split(os.getcwd() +'/qiita_downloads/qiita14857_EAC_ICGC/162938_species_WoLr1_scrubbed/feature-table.biom',
                'EAC_ICGC_species_WOL_scrubbed')

,sample_name,project,filename,donor_sex,project_code,icgc_donor_id,icgc_sample_id,prior_malignancy,donor_relapse_type,donor_vital_status,...,donor_age_at_enrollment,study_donor_involved_in,donor_age_at_last_followup,disease_status_last_followup,donor_interval_of_last_followup,donor_tumour_stage_at_diagnosis,cancer_history_first_degree_relative,donor_tumour_staging_system_at_diagnosis,donor_tumour_stage_at_diagnosis_supplemental,qiita_study_id
0,14857.14521.006cdcd42d55e07a2fd1ad2d31dd1a87,ESAD-UK,006cdcd42d55e07a2fd1ad2d31dd1a87.filtered.bam,male,ESAD-UK,DO50381,SA528854,unknown,distant recurrence/metastasis,deceased,...,58.0,PCAWG,58.0,relapse,299.0,T3N1M0,unknown,TNM7,UICC:3a,14857
1,14857.14521.0337efea9b59b88f804ea384c356377c,ESAD-UK,0337efea9b59b88f804ea384c356377c.filtered.bam,male,ESAD-UK,DO50389,SA528947,unknown,NaN,deceased,...,65.0,PCAWG,66.0,no evidence of disease,712.0,T2N0M0,no,TNM7,UICC:1b,14857
2,14857.14521.04a446c6a660694dafe43ccaf1db7162,ESAD-UK,04a446c6a660694dafe43ccaf1db7162.filtered.bam,male,ESAD-UK,DO50412,SA528884,unknown,NaN,alive,...,NaN,PCAWG,68.0,stable,401.0,T3N1M0,unknown,TNM6,UICC:3,14857

Total number of samples in EAC_ICGC_species_WOL_scrubbed  =  97

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [6]:
eac_14857_data_split(os.getcwd() +'/qiita_downloads/qiita14857_EAC_ICGC/162938_none_WoLr1_scrubbed/feature-table.biom',
                'EAC_ICGC_genome_WOL_scrubbed')

,sample_name,project,filename,donor_sex,project_code,icgc_donor_id,icgc_sample_id,prior_malignancy,donor_relapse_type,donor_vital_status,...,donor_age_at_enrollment,study_donor_involved_in,donor_age_at_last_followup,disease_status_last_followup,donor_interval_of_last_followup,donor_tumour_stage_at_diagnosis,cancer_history_first_degree_relative,donor_tumour_staging_system_at_diagnosis,donor_tumour_stage_at_diagnosis_supplemental,qiita_study_id
0,14857.14521.006cdcd42d55e07a2fd1ad2d31dd1a87,ESAD-UK,006cdcd42d55e07a2fd1ad2d31dd1a87.filtered.bam,male,ESAD-UK,DO50381,SA528854,unknown,distant recurrence/metastasis,deceased,...,58.0,PCAWG,58.0,relapse,299.0,T3N1M0,unknown,TNM7,UICC:3a,14857
1,14857.14521.0337efea9b59b88f804ea384c356377c,ESAD-UK,0337efea9b59b88f804ea384c356377c.filtered.bam,male,ESAD-UK,DO50389,SA528947,unknown,NaN,deceased,...,65.0,PCAWG,66.0,no evidence of disease,712.0,T2N0M0,no,TNM7,UICC:1b,14857
2,14857.14521.04a446c6a660694dafe43ccaf1db7162,ESAD-UK,04a446c6a660694dafe43ccaf1db7162.filtered.bam,male,ESAD-UK,DO50412,SA528884,unknown,NaN,alive,...,NaN,PCAWG,68.0,stable,401.0,T3N1M0,unknown,TNM6,UICC:3,14857

NameError: name 'zebra' is not defined

### Normal/Healthy & GERD Esoph Brushings  
Deshpande, N. P., Riordan, S. M., Castaño-Rodríguez, N., Wilkins, M. R. & Kaakoush, N. O. Signatures within the esophageal microbiome are associated with host genetics, age, and disease. Microbiome vol. 6 (2018) https://doi.org/10.1186/s40168-018-0611-4

##### Convert to various types form Qiime2 (only had to run once)

In [22]:
#Table
table = q2.Artifact.import_data('FeatureTable[Frequency]', os.getcwd() + '/qiita_downloads/qiita14458_NormalGerdEsoph/169125_none_WOL.biom')

#WOL Taxonomy
taxdf = pd.read_csv('/Users/cguccion/Dropbox/Storage/HelpfulLabDocs/taxonomy_trees/WOL/lineages.txt', sep='\t', index_col=0, header=None)
taxdf.columns = ['Taxon']
taxdf.index.name = 'Feature ID'
taxonomy = q2.Artifact.import_data('FeatureData[Taxonomy]', taxdf)

collapsed_table = taxa.methods.collapse(table=table, taxonomy=taxonomy, level=7).collapsed_table

#display(collapsed_table.view(pd.DataFrame).T)
Artifact.export_data(collapsed_table, 'species_WOL')

##### Normal / Healthy Esophgous

###### Used in paper

In [4]:
#Wol Scrubbed
gerd_normal_data_split('Normal',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169125_species_WOL_scrubbed/feature-table.biom',
                       'normal_species_WOL_scrubbed')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373136,55,YES,F,YES,Normal,H98_S89_SG,NO,H98,14458
1,14458.ERR2373134,70,YES,F,YES,Normal,H96_S87_SG,NO,H96,14458
2,14458.ERR2373133,23,YES,F,YES,Normal,H95_S86_SG,NO,H95,14458

Total number of samples in normal_species_WOL_scrubbed  =  50
<artifact: FeatureTable[Frequency] uuid: f3ca9e18-c070-49fc-a3a3-6510ffc68ec7>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:127: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

###### Not in paper

In [6]:
#Wol Scrubbed
gerd_normal_data_split('Normal',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169125_none_WOL_scrubbed/feature-table.biom',
                       'normal_genome_WOL_scrubbed')

gerd_normal_data_split('Normal',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169125_none_WOL_scrubbed/feature-table.biom',
                       'normal_zebra_genome_WOL_scrubbed',
                      zebra='norm_GERD_WOL')

#
gerd_normal_data_split('Normal',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169129_perGenome_RS210.biom',
                       'normal_genome_RS210')

gerd_normal_data_split('Normal',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/species_WOL/feature-table.biom',
                       'normal_species_WOL')

gerd_normal_data_split('Normal',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169125_none_WOL.biom',
                       'normal_genome_WOL')

gerd_normal_data_split('Normal',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169125_none_WOL.biom',
                       'normal_zebra_genome_WOL',
                       zebra='norm_GERD_WOL')

gerd_normal_data_split('Normal',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169125_none_WOL.biom',
                       'normal_23_genome_WOL',
                      trim =23)

gerd_normal_data_split('Normal',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/species_WOL/feature-table.biom',
                       'normal_23_species_WOL',
                      trim = 23)

gerd_normal_data_split('Normal',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169125_none_WOL.biom',
                       'normal_zebra_23_genome_WOL',
                       zebra='norm_GERD_WOL',
                      trim = 23)

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373136,55,YES,F,YES,Normal,H98_S89_SG,NO,H98,14458
1,14458.ERR2373134,70,YES,F,YES,Normal,H96_S87_SG,NO,H96,14458
2,14458.ERR2373133,23,YES,F,YES,Normal,H95_S86_SG,NO,H95,14458

Total number of samples in normal_genome_WOL_scrubbed  =  50

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373136,55,YES,F,YES,Normal,H98_S89_SG,NO,H98,14458
1,14458.ERR2373134,70,YES,F,YES,Normal,H96_S87_SG,NO,H96,14458
2,14458.ERR2373133,23,YES,F,YES,Normal,H95_S86_SG,NO,H95,14458

Total number of samples in normal_zebra_genome_WOL_scrubbed  =  50

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373136,55,YES,F,YES,Normal,H98_S89_SG,NO,H98,14458
1,14458.ERR2373134,70,YES,F,YES,Normal,H96_S87_SG,NO,H96,14458
2,14458.ERR2373133,23,YES,F,YES,Normal,H95_S86_SG,NO,H95,14458

Total number of samples in normal_genome_RS210  =  50

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373136,55,YES,F,YES,Normal,H98_S89_SG,NO,H98,14458
1,14458.ERR2373134,70,YES,F,YES,Normal,H96_S87_SG,NO,H96,14458
2,14458.ERR2373133,23,YES,F,YES,Normal,H95_S86_SG,NO,H95,14458

Total number of samples in normal_species_WOL  =  50

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373136,55,YES,F,YES,Normal,H98_S89_SG,NO,H98,14458
1,14458.ERR2373134,70,YES,F,YES,Normal,H96_S87_SG,NO,H96,14458
2,14458.ERR2373133,23,YES,F,YES,Normal,H95_S86_SG,NO,H95,14458

Total number of samples in normal_genome_WOL  =  50

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373136,55,YES,F,YES,Normal,H98_S89_SG,NO,H98,14458
1,14458.ERR2373134,70,YES,F,YES,Normal,H96_S87_SG,NO,H96,14458
2,14458.ERR2373133,23,YES,F,YES,Normal,H95_S86_SG,NO,H95,14458

Total number of samples in normal_zebra_genome_WOL  =  50

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
45,14458.ERR2373058,49,NO,F,YES,Normal,H12_S11_SG,NO,H12,14458
30,14458.ERR2373089,34,NO,F,YES,Normal,H48_S42_SG,NO,H48,14458
3,14458.ERR2373127,49,NO,M,YES,Normal,H90_S80_SG,NO,H90,14458

Total number of samples in normal_23_genome_WOL  =  23

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
18,14458.ERR2373106,60,YES,F,YES,Normal,H66_S59_SG,NO,H66,14458
12,14458.ERR2373117,51,YES,F,YES,Normal,H79_S70_SG,NO,H79,14458
32,14458.ERR2373083,31,NO,F,YES,Normal,H41_S36_SG,NO,H41,14458

Total number of samples in normal_23_species_WOL  =  23

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373136,55,YES,F,YES,Normal,H98_S89_SG,NO,H98,14458
24,14458.ERR2373095,57,YES,M,YES,Normal,H55_S48_SG,NO,H55,14458
39,14458.ERR2373075,82,YES,M,YES,Normal,H29_S28_SG,NO,H29,14458

Total number of samples in normal_zebra_23_genome_WOL  =  23

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### GERD

###### Used in paper

In [5]:
#Wol scrubbed

gerd_normal_data_split('GERD',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169125_species_WOL_scrubbed/feature-table.biom',
                       'GERD_species_WOL_scrubbed')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373137,53,NO,M,YES,GERD,H99_S90_SG,YES,H99,14458
1,14458.ERR2373135,36,NO,M,YES,GERD,H97_S88_SG,YES,H97,14458
2,14458.ERR2373132,34,NO,F,YES,GERD,H94_S85_SG,YES,H94,14458

Total number of samples in GERD_species_WOL_scrubbed  =  29
<artifact: FeatureTable[Frequency] uuid: 023fbb04-764c-45af-85ad-fb081504e2d9>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:127: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

###### Not in paper

In [7]:
#Wol Scrubbed
gerd_normal_data_split('GERD',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169125_none_WOL_scrubbed/feature-table.biom',
                       'GERD_genome_WOL_scrubbed')

gerd_normal_data_split('GERD',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169125_none_WOL_scrubbed/feature-table.biom',
                       'GERD_zebra_genome_WOL_scrubbed',
                       zebra='norm_GERD_WOL')
                       
#
gerd_normal_data_split('GERD',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/169129_perGenome_RS210.biom',
                       'GERD_genome_RS210')

gerd_normal_data_split('GERD',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/species_WOL/feature-table.biom',
                       'GERD_species_WOL')

gerd_normal_data_split('GERD',
                       os.getcwd() + '/qiita_downloads/qiita14458_NormalGerdEsoph/169125_none_WOL.biom',
                       'GERD_genome_WOL')

gerd_normal_data_split('GERD',
                       os.getcwd() + '/qiita_downloads/qiita14458_NormalGerdEsoph/169125_none_WOL.biom',
                       'GERD_zebra_genome_WOL',
                       zebra='norm_GERD_WOL')

gerd_normal_data_split('GERD',
                       os.getcwd() +'/qiita_downloads/qiita14458_NormalGerdEsoph/species_WOL/feature-table.biom',
                       'GERD_23_species_WOL',
                      trim =23)

gerd_normal_data_split('GERD',
                       os.getcwd() + '/qiita_downloads/qiita14458_NormalGerdEsoph/169125_none_WOL.biom',
                       'GERD_zebra_23_genome_WOL',
                       zebra='norm_GERD_WOL',
                      trim = 23)

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373137,53,NO,M,YES,GERD,H99_S90_SG,YES,H99,14458
1,14458.ERR2373135,36,NO,M,YES,GERD,H97_S88_SG,YES,H97,14458
2,14458.ERR2373132,34,NO,F,YES,GERD,H94_S85_SG,YES,H94,14458

Total number of samples in GERD_genome_WOL_scrubbed  =  29

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373137,53,NO,M,YES,GERD,H99_S90_SG,YES,H99,14458
1,14458.ERR2373135,36,NO,M,YES,GERD,H97_S88_SG,YES,H97,14458
2,14458.ERR2373132,34,NO,F,YES,GERD,H94_S85_SG,YES,H94,14458

Total number of samples in GERD_zebra_genome_WOL_scrubbed  =  29

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373137,53,NO,M,YES,GERD,H99_S90_SG,YES,H99,14458
1,14458.ERR2373135,36,NO,M,YES,GERD,H97_S88_SG,YES,H97,14458
2,14458.ERR2373132,34,NO,F,YES,GERD,H94_S85_SG,YES,H94,14458

Total number of samples in GERD_genome_RS210  =  29

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373137,53,NO,M,YES,GERD,H99_S90_SG,YES,H99,14458
1,14458.ERR2373135,36,NO,M,YES,GERD,H97_S88_SG,YES,H97,14458
2,14458.ERR2373132,34,NO,F,YES,GERD,H94_S85_SG,YES,H94,14458

Total number of samples in GERD_species_WOL  =  29

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373137,53,NO,M,YES,GERD,H99_S90_SG,YES,H99,14458
1,14458.ERR2373135,36,NO,M,YES,GERD,H97_S88_SG,YES,H97,14458
2,14458.ERR2373132,34,NO,F,YES,GERD,H94_S85_SG,YES,H94,14458

Total number of samples in GERD_genome_WOL  =  29

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373137,53,NO,M,YES,GERD,H99_S90_SG,YES,H99,14458
1,14458.ERR2373135,36,NO,M,YES,GERD,H97_S88_SG,YES,H97,14458
2,14458.ERR2373132,34,NO,F,YES,GERD,H94_S85_SG,YES,H94,14458

Total number of samples in GERD_zebra_genome_WOL  =  29

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
25,14458.ERR2373059,67,NO,F,YES,GERD,H13_S12_SG,NO,H13,14458
4,14458.ERR2373130,42,YES,F,YES,GERD,H92_S83_SG,YES,H92,14458
26,14458.ERR2373057,39,NO,F,YES,GERD,H11_S10_SG,YES,H11,14458

Total number of samples in GERD_23_species_WOL  =  23

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
13,14458.ERR2373102,44,NO,F,YES,GERD,H62_S55_SG,YES,H62,14458
1,14458.ERR2373135,36,NO,M,YES,GERD,H97_S88_SG,YES,H97,14458
4,14458.ERR2373130,42,YES,F,YES,GERD,H92_S83_SG,YES,H92,14458

Total number of samples in GERD_zebra_23_genome_WOL  =  23

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

#### (not in paper) 16S DATA!!! (More info in Kit testing folder of comad ... done on 10/24/23)

##### Normal - 16S

In [4]:
gerd_normal_data_split('Normal',
                       os.getcwd() +'/qiita_downloads/qiita14325_16S_NormalGerdEsoph/139540_reference-hit_prep12316.biom',
                       'normal_16S',
                      shotgun=False)

,sample_name,age,ppi,gender,shotgun,diagnosis,reflux_symptoms,qiita_study_id,metadata_sample_id
0,14325.H3,53.0,YES,F,YES,Normal,NO,14325,H3
1,14325.H5,58.0,NO,F,YES,Normal,NO,14325,H5
2,14325.H6,56.0,YES,F,YES,Normal,NO,14325,H6

Total number of samples in normal_16S  =  50

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### GERD - 16S

In [5]:
gerd_normal_data_split('GERD',
                       os.getcwd() +'/qiita_downloads/qiita14325_16S_NormalGerdEsoph/139540_reference-hit_prep12316.biom',
                       'GERD_16S',
                      shotgun=False)

,sample_name,age,ppi,gender,shotgun,diagnosis,reflux_symptoms,qiita_study_id,metadata_sample_id
0,14325.H2,62.0,NO,F,YES,GERD,YES,14325,H2
1,14325.H4,76.0,YES,M,YES,GERD,YES,14325,H4
2,14325.H7,76.0,NO,M,YES,GERD,YES,14325,H7

Total number of samples in GERD_16S  =  29

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

### Barrett's Esophgous Progressors/Non Progressors
Paulson, T. G. et al. Somatic whole genome dynamics of precancer in Barrett’s esophagus reveals features associated with disease progression. Nature Communications vol. 13 (2022) https://doi.org/10.1038/s41467-022-29767-7

##### (Not in paper) Barrett's Esophgous

In [2]:
be_data_split(['NP', 'Prog'], ['T1', 'T2'], #, 'LongFollowUp'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_genome_RS210')

be_data_split(['NP', 'Prog'], ['T1', 'T2'], #, 'LongFollowUp'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_species_WOL')

be_data_split(['NP', 'Prog'], ['T1', 'T2'], #, 'LongFollowUp'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_genome_WOL')

be_data_split(['NP', 'Prog'], ['T1', 'T2'], #, 'LongFollowUp'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_zebra_genome_WOL',
             zebra = 'BE_WOL')

be_data_split(['NP', 'Prog'], ['T1', 'T2','LongFollowUp'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'all_BE_genome_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_genome_RS210  =  302

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_species_WOL  =  316

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_genome_WOL  =  316

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_zebra_genome_WOL  =  316

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in all_BE_genome_WOL  =  336

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### Barrett's Esophgous Non Progressors

###### Used in paper

In [3]:
#WOL scrubbed -TP1

be_data_split(['NP'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_species_WOL_scrubbed/feature-table.biom',
              'BE_NP_T1_species_WOL_scrubbed')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598,T1_NP

Total number of samples in BE_NP_T1_species_WOL_scrubbed  =  80
<artifact: FeatureTable[Frequency] uuid: 3139877c-5e5a-463c-a9cd-f0cbf2655e2c>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:127: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [6]:
#WOL scrubbed

be_data_split(['NP'], ['T1', 'T2', 'LongFollowUp'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_species_WOL_scrubbed/feature-table.biom',
              'BE_NP_wLF_species_WOL_scrubbed')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_NP_wLF_species_WOL_scrubbed  =  178
<artifact: FeatureTable[Frequency] uuid: 5e01b2b6-6a62-4ebd-902b-7b084a091965>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:127: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

###### Used in supp ?

In [ ]:
be_data_split(['NP'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_species_WOL_scrubbed/feature-table.biom',
              'BE_NP_species_WOL_scrubbed')

###### Not in paper

In [8]:
#WOL scrubbed
be_data_split(['NP'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL_scrubbed/feature-table.biom',
              'BE_NP_genome_WOL_scrubbed')

be_data_split(['NP'], ['T1', 'T2', 'LongFollowUp'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL_scrubbed/feature-table.biom',
              'BE_NP_wLF_zebra_genome_WOL_scrubbed',
             zebra = 'BE_WOL')

be_data_split(['NP'], ['T1', 'T2', 'LongFollowUp'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL_scrubbed/feature-table.biom',
              'BE_NP_wLF_genome_WOL_scrubbed')

be_data_split(['NP'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL_scrubbed/feature-table.biom',
              'BE_NP_T1_genome_WOL_scrubbed')

be_data_split(['NP'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL_scrubbed/feature-table.biom',
              'BE_NP_T1_zebra_genome_WOL_scrubbed',
             zebra = 'BE_WOL')

be_data_split(['NP'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL_scrubbed/feature-table.biom',
              'BE_NP_T2_genome_WOL_scrubbed')

#
be_data_split(['NP'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_NP_genome_RS210')

be_data_split(['NP'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_NP_species_WOL')

be_data_split(['NP'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_NP_zebra_genome_WOL',
             zebra = 'BE_WOL')

be_data_split(['NP'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_NP_exact_genome_WOL',
             exact_pairs = True)

be_data_split(['NP'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_NP_exact_species_WOL',
             exact_pairs = True)

be_data_split(['NP'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_NP_zebra_exact_genome_WOL',
             zebra = 'BE_WOL',
             exact_pairs = True)

be_data_split(['NP'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_NP_zebra_23_genome_WOL',
             zebra = 'BE_WOL',
             trim = 23)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_NP_genome_WOL_scrubbed  =  158

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_NP_wLF_zebra_genome_WOL_scrubbed  =  178

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_NP_wLF_genome_WOL_scrubbed  =  178

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598,T1_NP

Total number of samples in BE_NP_T1_genome_WOL_scrubbed  =  80

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598,T1_NP

Total number of samples in BE_NP_T1_zebra_genome_WOL_scrubbed  =  80

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598,T2_NP
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598,T2_NP

Total number of samples in BE_NP_T2_genome_WOL_scrubbed  =  78

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_NP_genome_RS210  =  150

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_NP_species_WOL  =  158

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP

Total number of samples in BE_NP_zebra_genome_WOL  =  158

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598,T1_NP

Total number of samples in BE_NP_exact_genome_WOL  =  80

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598,T1_NP

Total number of samples in BE_NP_exact_species_WOL  =  80

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598,T1_NP

Total number of samples in BE_NP_zebra_exact_genome_WOL  =  80

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
50,14598.PCGA.1087.BE.04,White_nonHispanic,M,385,T2,1,385-24955N-148R-GST,2,24819,NP,68.34,14598,T2_NP
112,14598.PCGA.1123.BE.03,AmericanIndian_AlaskanNative,M,806,T2,1,806-25035N-53S-BLD,2,24157,NP,60.13,14598,T2_NP
55,14598.PCGA.1095.BE.01,White_nonHispanic,M,478,T1,1,478-25071N-116V-BLD,2,23938,NP,71.24,14598,T1_NP

Total number of samples in BE_NP_zebra_23_genome_WOL  =  23

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### (Supp ?) Barrett's Esophgous Non Progressors T1

In [3]:
#Used in supp.

be_data_split(['NP'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_species_WOL_scrubbed/feature-table.biom',
              'BE_NP_T1_species_WOL_scrubbed')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598,T1_NP

Total number of samples in BE_NP_T1_species_WOL_scrubbed  =  80
<artifact: FeatureTable[Frequency] uuid: 2dd1c7db-8044-4682-8954-5db78d0cf5f9>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:127: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [6]:
be_data_split(['NP'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_NP_T1_genome_RS210')

be_data_split(['NP'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_NP_T1_species_WOL')

be_data_split(['NP'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_NP_T1_exact_species_WOL',
             exact_pairs = True)

be_data_split(['NP'], ['T1'], 
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_NP_T1_exact_zebra_genome_WOL',
             zebra = 'BE_WOL',
             exact_pairs = True)

be_data_split(['NP'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_NP_T1_exact_23_species_WOL',
             exact_pairs = True,
              trim = 23)

be_data_split(['NP'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_NP_T1_exact_zebra_23_genome_WOL',
             exact_pairs = True,
              zebra = 'BE_WOL',
              trim = 23)

be_data_split(['NP'], ['T1'], 
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_NP_T1_zebra_genome_WOL',
             zebra = 'BE_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598,T1_NP

Total number of samples in BE_NP_T1_genome_RS210  =  76

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598,T1_NP

Total number of samples in BE_NP_T1_species_WOL  =  80

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598,T1_NP
2,14598.PCGA.1068.BE.01,White_nonHispanic,M,59,T1,1,59-24989N-165S-BLD,3,23638,NP,67.14,14598,T1_NP

Total number of samples in BE_NP_T1_exact_species_WOL  =  40

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598,T1_NP
2,14598.PCGA.1068.BE.01,White_nonHispanic,M,59,T1,1,59-24989N-165S-BLD,3,23638,NP,67.14,14598,T1_NP

Total number of samples in BE_NP_T1_exact_zebra_genome_WOL  =  40

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
8,14598.PCGA.1078.BE.03,White_nonHispanic,M,222,T1,1,222-25062N-179T-BLD,9,24376,NP,75.01,14598,T1_NP
15,14598.PCGA.1096.BE.01,White_nonHispanic,M,483,T1,1,483-24961N-246S-GST,6,23824,NP,68.52,14598,T1_NP
16,14598.PCGA.1098.BE.01,White_nonHispanic,M,515,T1,1,515-25073N-18V-BLD,3,23683,NP,50.28,14598,T1_NP

Total number of samples in BE_NP_T1_exact_23_species_WOL  =  23

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
27,14598.PCGA.1119.BE.01,White_nonHispanic,M,729,T1,1,729-25033N-237R-BLD,1,23752,NP,65.51,14598,T1_NP
31,14598.PCGA.1130.BE.01,White_nonHispanic,M,900,T1,1,900-25089N-32P-GST,5,23926,NP,46.33,14598,T1_NP
24,14598.PCGA.1111.BE.01,White_nonHispanic,M,635,T1,1,635-25080N-95V-BLD,6,24037,NP,54.82,14598,T1_NP

Total number of samples in BE_NP_T1_exact_zebra_23_genome_WOL  =  23

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598,T1_NP

Total number of samples in BE_NP_T1_zebra_genome_WOL  =  80

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### (Supp ?) Barrett's Esophgous Non Progressors T2

In [5]:
#Used in supp.

be_data_split(['NP'], ['T2', 'LongFollowUp'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_species_WOL_scrubbed/feature-table.biom',
              'BE_NP_T2_wLT_species_WOL_scrubbed')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598,T2_NP
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598,T2_NP

Total number of samples in BE_NP_T2_wLT_species_WOL_scrubbed  =  98
<artifact: FeatureTable[Frequency] uuid: 8c4cabab-1aad-457f-b22b-55adbde8a71d>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:127: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [5]:
be_data_split(['NP'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_NP_T2_genome_RS210')

be_data_split(['NP'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_NP_T2_species_WOL')

be_data_split(['NP'], ['T2'], 
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_NP_T2_exact_zebra_genome_WOL',
             zebra = 'BE_WOL',
             exact_pairs = True)

be_data_split(['NP'], ['T2'], 
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_NP_T2_zebra_genome_WOL',
             zebra = 'BE_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598,T2_NP
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598,T2_NP

Total number of samples in BE_NP_T2_genome_RS210  =  74

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598,T2_NP
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598,T2_NP

Total number of samples in BE_NP_T2_species_WOL  =  78

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598,T2_NP
2,14598.PCGA.1068.BE.03,White_nonHispanic,M,59,T2,1,59-24989N-165S-BLD,3,23644,NP,69.0,14598,T2_NP

Total number of samples in BE_NP_T2_exact_zebra_genome_WOL  =  40

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598,T2_NP
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598,T2_NP

Total number of samples in BE_NP_T2_zebra_genome_WOL  =  78

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### (Not used in paper) Barrett's Esophgous Progressors

In [7]:
be_data_split(['Prog'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_Prog_genome_RS210')

be_data_split(['Prog'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_Prog_species_WOL')

be_data_split(['Prog'], ['T1', 'T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_Prog_zebra_genome_WOL',
             zebra = 'BE_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598,T2_Prog
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog

Total number of samples in BE_Prog_genome_RS210  =  152

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598,T2_Prog
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog

Total number of samples in BE_Prog_species_WOL  =  158

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598,T2_Prog
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog

Total number of samples in BE_Prog_zebra_genome_WOL  =  158

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### Barrett's Esophgous Progressors T1

###### Used in paper

In [4]:
#WOL scrubbed

be_data_split(['Prog'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_species_WOL_scrubbed/feature-table.biom',
              'BE_Prog_T1_species_WOL_scrubbed')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog
1,14598.PCGA.1065.BE.04,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,3,24292,Prog,56.25,14598,T1_Prog
2,14598.PCGA.1066.BE.01,Other_Unknown,F,43,T1,1,43-24956N-29P-GST,1,23585,Prog,64.11,14598,T1_Prog

Total number of samples in BE_Prog_T1_species_WOL_scrubbed  =  79
<artifact: FeatureTable[Frequency] uuid: 9c594e17-9ee5-4aea-b753-b8d5c3a5ceb9>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:127: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

###### Not used in paper

In [9]:
#WOL scrubbed
be_data_split(['Prog'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL_scrubbed/feature-table.biom',
              'BE_Prog_T1_genome_WOL_scrubbed')

be_data_split(['Prog'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL_scrubbed/feature-table.biom',
              'BE_Prog_T1_zebra_genome_WOL_scrubbed',
              zebra = 'BE_WOL')

#
be_data_split(['Prog'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_Prog_T1_genome_RS210')

be_data_split(['Prog'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_Prog_T1_species_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog
1,14598.PCGA.1065.BE.04,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,3,24292,Prog,56.25,14598,T1_Prog
2,14598.PCGA.1066.BE.01,Other_Unknown,F,43,T1,1,43-24956N-29P-GST,1,23585,Prog,64.11,14598,T1_Prog

Total number of samples in BE_Prog_T1_genome_WOL_scrubbed  =  79

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog
1,14598.PCGA.1065.BE.04,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,3,24292,Prog,56.25,14598,T1_Prog
2,14598.PCGA.1066.BE.01,Other_Unknown,F,43,T1,1,43-24956N-29P-GST,1,23585,Prog,64.11,14598,T1_Prog

Total number of samples in BE_Prog_T1_zebra_genome_WOL_scrubbed  =  79

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog
1,14598.PCGA.1065.BE.04,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,3,24292,Prog,56.25,14598,T1_Prog
2,14598.PCGA.1066.BE.01,Other_Unknown,F,43,T1,1,43-24956N-29P-GST,1,23585,Prog,64.11,14598,T1_Prog

Total number of samples in BE_Prog_T1_genome_RS210  =  76

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog
1,14598.PCGA.1065.BE.04,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,3,24292,Prog,56.25,14598,T1_Prog
2,14598.PCGA.1066.BE.01,Other_Unknown,F,43,T1,1,43-24956N-29P-GST,1,23585,Prog,64.11,14598,T1_Prog

Total number of samples in BE_Prog_T1_species_WOL  =  79

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### Barrett's Esophgous Progressors T2

###### Used in paper

In [2]:
#WOL scrubbed

be_data_split(['Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_species_WOL_scrubbed/feature-table.biom',
              'BE_Prog_T2_species_WOL_scrubbed')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598,T2_Prog
2,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598,T2_Prog

Total number of samples in BE_Prog_T2_species_WOL_scrubbed  =  79
<artifact: FeatureTable[Frequency] uuid: a9ee04bc-9036-4143-8b21-30b9c5b6cb4d>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:127: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

###### Not used in paper

In [12]:
#WOL scrubbed
be_data_split(['Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL_scrubbed/feature-table.biom',
              'BE_Prog_T2_genome_WOL_scrubbed')

#
be_data_split(['Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_Prog_T2_genome_RS210')

be_data_split(['Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_Prog_T2_species_WOL')

be_data_split(['Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_Prog_T2_genome_WOL')

be_data_split(['Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_Prog_T2_exact_species_WOL',
             exact_pairs = True)

be_data_split(['Prog'], ['T2'], 
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_Prog_T2_exact_zebra_genome_WOL',
             zebra = 'BE_WOL',
             exact_pairs = True)

be_data_split(['Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_Prog_T2_exact_23_species_WOL',
             exact_pairs = True,
              trim = 23)

be_data_split(['Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_Prog_T2_exact_zebra_23_genome_WOL',
             exact_pairs = True,
              zebra = 'BE_WOL',
              trim = 23)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598,T2_Prog
2,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598,T2_Prog

Total number of samples in BE_Prog_T2_genome_WOL_scrubbed  =  79

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598,T2_Prog
2,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598,T2_Prog

Total number of samples in BE_Prog_T2_genome_RS210  =  76

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598,T2_Prog
2,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598,T2_Prog

Total number of samples in BE_Prog_T2_species_WOL  =  79

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598,T2_Prog
2,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598,T2_Prog

Total number of samples in BE_Prog_T2_genome_WOL  =  79

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog
1,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598,T2_Prog
2,14598.PCGA.1069.BE.02,White_nonHispanic,M,74,T2,1,74-25057N-80U-BLD,4,23677,Prog,52.21,14598,T2_Prog

Total number of samples in BE_Prog_T2_exact_species_WOL  =  40

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog
1,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598,T2_Prog
2,14598.PCGA.1069.BE.02,White_nonHispanic,M,74,T2,1,74-25057N-80U-BLD,4,23677,Prog,52.21,14598,T2_Prog

Total number of samples in BE_Prog_T2_exact_zebra_genome_WOL  =  40

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
11,14598.PCGA.1088.BE.03,White_nonHispanic,M,387,T2,1,387-24974N-309J-GST,0,23662,Prog,70.26,14598,T2_Prog
31,14598.PCGA.1124.BE.02,White_nonHispanic,M,833,T2,1,833-25085N-211U-BLD,3,24016,Prog,80.53,14598,T2_Prog
14,14598.PCGA.1091.BE.01,White_nonHispanic,M,403,T2,1,403-24957N-153N-GST,6,24383,Prog,77.81,14598,T2_Prog

Total number of samples in BE_Prog_T2_exact_23_species_WOL  =  23

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
16,14598.PCGA.1094.BE.02,White_nonHispanic,M,450,T2,1,450-25070N-120R-BLD,1,23920,Prog,46.46,14598,T2_Prog
36,14598.PCGA.1136.BE.03,White_nonHispanic,F,954,T2,1,954-25048N-259T-BLD,2,24214,Prog,77.46,14598,T2_Prog
9,14598.PCGA.1082.BE.03,White_nonHispanic,M,295,T2,1,295-25066N-72T-BLD,1,24175,Prog,69.51,14598,T2_Prog

Total number of samples in BE_Prog_T2_exact_zebra_23_genome_WOL  =  23

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### (Might be used in paper) Barrett's Esophgous T1

In [2]:
#Date: 5/23/2024; Goal: To create a TP1 NCO vs. TP1 CO to run birdman

be_data_split(['NP', 'Prog'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_species_WOL_scrubbed/feature-table.biom',
              'BE_T1_species_WOL_scrubbed')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog

Total number of samples in BE_T1_species_WOL_scrubbed  =  159
<artifact: FeatureTable[Frequency] uuid: 80f05428-f347-44b9-ac0b-b12b8ff66c23>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:133: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [5]:
be_data_split(['NP','Prog'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_T1_genome_RS210')

be_data_split(['NP', 'Prog'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_T1_species_WOL')

be_data_split(['NP', 'Prog'], ['T1'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_T1_genome_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog

Total number of samples in BE_T1_genome_RS210  =  152

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog

Total number of samples in BE_T1_species_WOL  =  159

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598,T1_NP
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598,T1_NP
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598,T1_Prog

Total number of samples in BE_T1_genome_WOL  =  159

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### (Not used in paper) Barrett's Esophgous T2

In [6]:
be_data_split(['NP','Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/169098_perGenome_RS210.biom',
              'BE_T2_genome_RS210')

be_data_split(['NP', 'Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149428_species_WOL.biom',
              'BE_T2_species_WOL')

be_data_split(['NP', 'Prog'], ['T2'],
              os.getcwd() + '/qiita_downloads/qiita14598_BE_Esoph/149431_genome_WOL.biom',
              'BE_T2_genome_WOL')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598,T2_NP
2,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog

Total number of samples in BE_T2_genome_RS210  =  150

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598,T2_NP
2,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog

Total number of samples in BE_T2_species_WOL  =  157

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id,sampletype_progressionstatus
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598,T2_NP
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598,T2_NP
2,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598,T2_Prog

Total number of samples in BE_T2_genome_WOL  =  157

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

### Normal, BE, EAC Tissue 
Ross-Innes, C. S. et al. Whole-genome sequencing provides new insights into the clonal architecture of Barrett’s esophagus and esophageal adenocarcinoma. Nature Genetics vol. 47 1038–1046 (2015) https://doi.org/10.1038/ng.3357

##### (Not used in paper) Normal, BE, EAC

In [3]:
normal_be_eac_data_split(['Normal', 'Barretts', 'EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_combo_R1_R2_paired_unpaired.biom',
                         'ALL_Ross_combo_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in ALL_Ross_combo_species_WOL  =  88

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [3]:
normal_be_eac_data_split(['Normal', 'Barretts', 'EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired.biom',
                         'ALL_Ross_paired_species_WOL')

normal_be_eac_data_split(['Normal', 'Barretts', 'EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/genome_WOL_R1_R2_paired.biom',
                         'ALL_Ross_paired_genome_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in ALL_Ross_paired_species_WOL  =  88

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in ALL_Ross_paired_genome_WOL  =  88

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [6]:
normal_be_eac_data_split(['Normal', 'Barretts', 'EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_unpaired.biom',
                         'ALL_Ross_unpaired_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in ALL_Ross_unpaired_species_WOL  =  88

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### BE

###### Used in paper

In [2]:
#WOL - scrubbed
normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired_scrubbed/feature-table.biom',
                         'BE_Ross_paired_species_WOL_scrubbed_rmBad',
                        remove_bad_microbes=True)

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),...,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity,EGA_ID,EGAIdentifier
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,...,92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8,EGAF00000530875,LP6007521-DNA_A01
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,...,93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6,EGAF00000586502,LP6005335-DNA_A01
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,...,93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3,EGAF00000525202,LP6007410-DNA_A01
3,Barretts_13_EGAF00000525459,13,Barretts,"Royal Surrey County Hospital, Guildford",F,61,T2N0M0,IB,Blood,15.0,...,92.02,298.0,5.19,0.222,54.36,0.973,NaN,0.6,EGAF00000525459,LP6005691-DNA_F01
4,Barretts_14_EGAF00000560129,14,Barretts,"St Thomas Hospital, London",M,68,T3N1M0,IIIA,Blood,6.0,...,93.48,317.0,4.70,0.253,61.75,0.976,NaN,0.3,EGAF00000560129,LP6005501-DNA_E01
5,Barretts_14_EGAF00000814878,14,Barretts,"St Thomas Hospital, London",M,68,T3N1M0,IIIA,Blood,6.0,...,93.48,317.0,4.70,0.253,61.75,0.976,NaN,0.3,EGAF00000814878,LP6008023-DNA_A01
6,Barretts_15_EGAF00000525456,15,Barretts,"Royal Surrey County Hospital, Guildford",M,75,T3N3M1,IV,Blood,9.0,...,91.07,323.0,4.91,0.237,67.85,0.977,NaN,0.7,EGAF00000525456,LP6005691-DNA_A01
7,Barretts_15_EGAF00000814867,15,Barretts,"Royal Surrey County Hospital, Guildford",M,75,T3N3M1,IV,Blood,9.0,...,91.07,323.0,4.91,0.237,67.85,0.977,NaN,0.7,EGAF00000814867,LP6008023-DNA_E01
8,Barretts_15_EGAF00000814879,15,Barretts,"Royal Surrey County Hospital, Guildford",M,75,T3N3M1,IV,Blood,9.0,...,91.07,323.0,4.91,0.237,67.85,0.977,NaN,0.7,EGAF00000814879,LP6008023-DNA_F01
9,Barretts_16_EGAF00000525464,16,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T3N1M0,IIIA,Blood,NaN,...,92.38,292.0,4.79,0.234,57.70,0.975,NaN,0.8,EGAF00000525464,LP6005691-DNA_A02
10,Barretts_17_EGAF00000525463,17,Barretts,"Royal Surrey County Hospital, Guildford",M,82,T3N1M0,IIIA,Blood,6.0,...,92.36,319.0,4.79,0.236,71.36,0.977,NaN,0.7,EGAF00000525463,LP6005691-DNA_D01
11,Barretts_17_EGAF00000814869,17,Barretts,"Royal Surrey County Hospital, Guildford",M,82,T3N1M0,IIIA,Blood,6.0,...,92.36,319.0,4.79,0.236,71.36,0.977,NaN,0.7,EGAF00000814869,LP6008023-DNA_A02
12,Barretts_17_EGAF00000814882,17,Barretts,"Royal Surrey County Hospital, Guildford",M,82,T3N1M0,IIIA,Blood,6.0,...,92.36,319.0,4.79,0.236,71.36,0.977,NaN,0.7,EGAF00000814882,LP6008023-DNA_B02
13,Barretts_17_EGAF00000814883,17,Barretts,"Royal Surrey County Hospital, Guildford",M,82,T3N1M0,IIIA,Blood,6.0,...,92.36,319.0,4.79,0.236,71.36,0.977,NaN,0.7,EGAF00000814883,LP6008023-DNA_C02
14,Barretts_17_EGAF00000814884,17,Barretts,"Royal Surrey County Hospital, Guildford",M,82,T3N1M0,IIIA,Blood,6.0,...,92.36,319.0,4.79,0.236,71.36,0.977,NaN,0.7,EGAF00000814884,LP6008023-DNA_D02
15,Barretts_18_EGAF00000560130,18,Barretts,"St Thomas Hospital, London",M,61,T3N1M0,IIIA,Blood,10.0,...,92.88,282.0,4.71,0.240,60.85,0.976,NaN,0.3,EGAF00000560130,LP6005501-DNA_F01
16,Barretts_19_EGAF00000530863,19,Barretts,"Addenbrookes Hospital, Cambridge",M,75,T3N0M0,IIA,Blood,NaN,...,94.65,440.0,4.32,0.242,73.95,0.979,NaN,0.5,EGAF00000530863,LP2000110-DNA_A01
17,Barretts_1_EGAF00000501981,1,Barretts,"Addenbrookes Hospital, Cambridge",M,62,T2N0M0,IB,Blood,NaN,...,94.44,325.0,4.25,0.227,73.05,0.978,NaN,0.6,EGAF00000501981,LP6007592
18,Barretts_20_EGAF00000560125,20,Barretts,"Edinburgh Royal Infirmary, Edinburgh",F,79,T3N1M0,IIIA,Blood,NaN,...,94.31,324.0,4.11,0.227,62.97,0.977,NaN,0.3,EGAF00000560125,LP6005501-DNA_A01
19,Barretts_21_EGAF00000560126,21,Barretts,"Royal Surrey County Hospital, Guildford",M,61,T1N0M0,IA,Blood,5.0,...,93.66,330.0,4.42,0.238,63.21,0.976,NaN,0.7,EGAF00000560126,LP6005501-DNA_B01
20,Barretts_22_EGAF00000525458,22,Barretts,"Royal Surrey County Hospital, Guildford",M,50,T3N3M0,IIIC,Blood,3.0,...,92.42,284.0,4.35,0.226,56.27,0.975,NaN,0.3,EGAF00000525458,LP6005691-DNA_B01
21,Barretts_23_EGAF00000501983,23,Barretts,"Addenbrookes Hospital, Cambridge",M,64,TxNxMx,NaN,Blood,2.0,...,94.53,311.0,4.31,0.221,86.50,0.979,NaN,0.3,EGAF00000501983,LP6007598
22,Barretts_2_EGAF00000525461,2,Barretts,"St Thomas Hospital, London",F,55,T2N1M0,IIB,Blood,6.0,...,92.86,315.0,4.43,0.226,56.30,0.975,NaN,0.3,EGAF00000525461,LP6005691-DNA_H01
23,Barretts_2_EGAF00000814889,2,Barretts,"St Thomas Hospital, London",F,55,T2N1M0,IIB,Blood,6.0,...,92.86,315.0,4.43,0.226,56.30,0.975,NaN,0.3,EGAF00000814889,LP6008023-DNA_C03
24,Barretts_2_EGAF00000814890,2,Barretts,"St Thomas Hospital, London",F,55,T2N1M0,IIB,Blood,6.0,...,92.86,315.0,4.43,0.226,56.30,0.975,NaN,0.3,EGAF00000814890,LP6008023-DNA_D03
25,Barretts_3_EGAF00000560128,3,Barretts,"Addenbrookes Hospital, Cambridge",M,61,T3N2M1,IV,Blood,NaN,...,93.82,325.0,4.42,0.238,60.52,0.976,NaN,0.4,EGAF00000560128,LP6005501-DNA_D01
26,Barretts_4_EGAF00000525457,4,Barretts,"Royal Surrey County Hospital, Guildford",M,58,T3N1M0,IIIA,Blood,3.0,...,91.48,300.0,4.96,0.233,55.51,0.974,NaN,0.7,EGAF00000525457,LP6005691-DNA_E01
27,Barretts_4_EGAF00000814870,4,Barretts,"Royal Surrey County Hospital, Guildford",M,58,T3N1M0,IIIA,Blood,3.0,...,91.48,300.0,4.96,0.233,55.51,0.974,NaN,0.7,EGAF00000814870,LP6008023-DNA_E02
28,Barretts_4_EGAF00000814871,4,Barretts,"Royal Surrey County Hospital, Guildford",M,58,T3N1M0,IIIA,Blood,3.0,...,91.48,300.0,4.96,0.233,55.51,0.974,NaN,0.7,EGAF00000814871,LP6008023-DNA_F02
29,Barretts_5_EGAF00000525462,5,Barretts,"Gloucestershire Royal Hospital, Gloucester",M,64,T1N0M0,IA,Blood,NaN,...,92.23,294.0,4.49,0.237,54.01,0.974,NaN,0.8,EGAF00000525462,LP6005691-DNA_C01
30,Barretts_6_EGAF00000560127,6,Barretts,"Gloucestershire Royal Hospital, Gloucester",M,73,T3N1Mx,NaN,Blood,NaN,...,93.70,333.0,4.26,0.239,58.54,0.975,NaN,0.9,EGAF00000560127,LP6005501-DNA_C01
31,Barretts_7_EGAF00000501982,7,Barretts,"Addenbrookes Hospital, Cambridge",M,75,T3N0M0,IIA,Blood,NaN,...,94.48,308.0,4.47,0.235,71.75,0.978,NaN,0.7,EGAF00000501982,LP6007595
32,Barretts_8_EGAF00000525460,8,Barretts,"Salford Royal Infirmary, Manchester",M,65,T2N0M0,IB,Blood,5.0,...,91.99,297.0,4.99,0.245,57.43,0.975,NaN,0.2,EGAF00000525460,LP6005691-DNA_G01
33,Barretts_8_EGAF00000814886,8,Barretts,"Salford Royal Infirmary, Manchester",M,65,T2N0M0,IB,Blood,5.0,...,91.99,297.0,4.99,0.245,57.43,0.975,NaN,0.2,EGAF00000814886,LP6008023-DNA_H02
34,Barretts_9_EGAF00000525201,9,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T1N0M0,IA,Blood,5.0,...,92.46,317.0,5.04,0.242,61.34,0.976,NaN,0.5,EGAF00000525201,LP6007405-DNA_A01

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),...,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity,EGA_ID,EGAIdentifier
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,...,92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8,EGAF00000530875,LP6007521-DNA_A01
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,...,93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6,EGAF00000586502,LP6005335-DNA_A01
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,...,93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3,EGAF00000525202,LP6007410-DNA_A01

Total number of samples in BE_Ross_paired_species_WOL_scrubbed_rmBad  =  35
<artifact: FeatureTable[Frequency] uuid: 08844b7f-5746-42e2-ba18-3062a7741207>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:127: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [2]:
#WOL - scrubbed
normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired_scrubbed/feature-table.biom',
                         'BE_Ross_ginny_species_WOL_scrubbed',
                        Ginny_list=True)

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),...,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity,EGA_ID,EGAIdentifier
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,...,92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8,EGAF00000530875,LP6007521-DNA_A01
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,...,93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6,EGAF00000586502,LP6005335-DNA_A01
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,...,93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3,EGAF00000525202,LP6007410-DNA_A01
3,Barretts_13_EGAF00000525459,13,Barretts,"Royal Surrey County Hospital, Guildford",F,61,T2N0M0,IB,Blood,15.0,...,92.02,298.0,5.19,0.222,54.36,0.973,NaN,0.6,EGAF00000525459,LP6005691-DNA_F01
4,Barretts_14_EGAF00000560129,14,Barretts,"St Thomas Hospital, London",M,68,T3N1M0,IIIA,Blood,6.0,...,93.48,317.0,4.70,0.253,61.75,0.976,NaN,0.3,EGAF00000560129,LP6005501-DNA_E01
6,Barretts_15_EGAF00000525456,15,Barretts,"Royal Surrey County Hospital, Guildford",M,75,T3N3M1,IV,Blood,9.0,...,91.07,323.0,4.91,0.237,67.85,0.977,NaN,0.7,EGAF00000525456,LP6005691-DNA_A01
9,Barretts_16_EGAF00000525464,16,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T3N1M0,IIIA,Blood,NaN,...,92.38,292.0,4.79,0.234,57.70,0.975,NaN,0.8,EGAF00000525464,LP6005691-DNA_A02
10,Barretts_17_EGAF00000525463,17,Barretts,"Royal Surrey County Hospital, Guildford",M,82,T3N1M0,IIIA,Blood,6.0,...,92.36,319.0,4.79,0.236,71.36,0.977,NaN,0.7,EGAF00000525463,LP6005691-DNA_D01
15,Barretts_18_EGAF00000560130,18,Barretts,"St Thomas Hospital, London",M,61,T3N1M0,IIIA,Blood,10.0,...,92.88,282.0,4.71,0.240,60.85,0.976,NaN,0.3,EGAF00000560130,LP6005501-DNA_F01
16,Barretts_19_EGAF00000530863,19,Barretts,"Addenbrookes Hospital, Cambridge",M,75,T3N0M0,IIA,Blood,NaN,...,94.65,440.0,4.32,0.242,73.95,0.979,NaN,0.5,EGAF00000530863,LP2000110-DNA_A01
17,Barretts_1_EGAF00000501981,1,Barretts,"Addenbrookes Hospital, Cambridge",M,62,T2N0M0,IB,Blood,NaN,...,94.44,325.0,4.25,0.227,73.05,0.978,NaN,0.6,EGAF00000501981,LP6007592
18,Barretts_20_EGAF00000560125,20,Barretts,"Edinburgh Royal Infirmary, Edinburgh",F,79,T3N1M0,IIIA,Blood,NaN,...,94.31,324.0,4.11,0.227,62.97,0.977,NaN,0.3,EGAF00000560125,LP6005501-DNA_A01
19,Barretts_21_EGAF00000560126,21,Barretts,"Royal Surrey County Hospital, Guildford",M,61,T1N0M0,IA,Blood,5.0,...,93.66,330.0,4.42,0.238,63.21,0.976,NaN,0.7,EGAF00000560126,LP6005501-DNA_B01
20,Barretts_22_EGAF00000525458,22,Barretts,"Royal Surrey County Hospital, Guildford",M,50,T3N3M0,IIIC,Blood,3.0,...,92.42,284.0,4.35,0.226,56.27,0.975,NaN,0.3,EGAF00000525458,LP6005691-DNA_B01
21,Barretts_23_EGAF00000501983,23,Barretts,"Addenbrookes Hospital, Cambridge",M,64,TxNxMx,NaN,Blood,2.0,...,94.53,311.0,4.31,0.221,86.50,0.979,NaN,0.3,EGAF00000501983,LP6007598
22,Barretts_2_EGAF00000525461,2,Barretts,"St Thomas Hospital, London",F,55,T2N1M0,IIB,Blood,6.0,...,92.86,315.0,4.43,0.226,56.30,0.975,NaN,0.3,EGAF00000525461,LP6005691-DNA_H01
25,Barretts_3_EGAF00000560128,3,Barretts,"Addenbrookes Hospital, Cambridge",M,61,T3N2M1,IV,Blood,NaN,...,93.82,325.0,4.42,0.238,60.52,0.976,NaN,0.4,EGAF00000560128,LP6005501-DNA_D01
26,Barretts_4_EGAF00000525457,4,Barretts,"Royal Surrey County Hospital, Guildford",M,58,T3N1M0,IIIA,Blood,3.0,...,91.48,300.0,4.96,0.233,55.51,0.974,NaN,0.7,EGAF00000525457,LP6005691-DNA_E01
29,Barretts_5_EGAF00000525462,5,Barretts,"Gloucestershire Royal Hospital, Gloucester",M,64,T1N0M0,IA,Blood,NaN,...,92.23,294.0,4.49,0.237,54.01,0.974,NaN,0.8,EGAF00000525462,LP6005691-DNA_C01
30,Barretts_6_EGAF00000560127,6,Barretts,"Gloucestershire Royal Hospital, Gloucester",M,73,T3N1Mx,NaN,Blood,NaN,...,93.70,333.0,4.26,0.239,58.54,0.975,NaN,0.9,EGAF00000560127,LP6005501-DNA_C01
31,Barretts_7_EGAF00000501982,7,Barretts,"Addenbrookes Hospital, Cambridge",M,75,T3N0M0,IIA,Blood,NaN,...,94.48,308.0,4.47,0.235,71.75,0.978,NaN,0.7,EGAF00000501982,LP6007595
32,Barretts_8_EGAF00000525460,8,Barretts,"Salford Royal Infirmary, Manchester",M,65,T2N0M0,IB,Blood,5.0,...,91.99,297.0,4.99,0.245,57.43,0.975,NaN,0.2,EGAF00000525460,LP6005691-DNA_G01
34,Barretts_9_EGAF00000525201,9,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T1N0M0,IA,Blood,5.0,...,92.46,317.0,5.04,0.242,61.34,0.976,NaN,0.5,EGAF00000525201,LP6007405-DNA_A01

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),...,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity,EGA_ID,EGAIdentifier
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,...,92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8,EGAF00000530875,LP6007521-DNA_A01
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,...,93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6,EGAF00000586502,LP6005335-DNA_A01
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,...,93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3,EGAF00000525202,LP6007410-DNA_A01

Total number of samples in BE_Ross_ginny_species_WOL_scrubbed  =  23
<artifact: FeatureTable[Frequency] uuid: 14598780-af41-4de2-a1d3-c094f45ea852>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:127: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

###### Not in paper

In [ ]:
#WOL - scrubbed
normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired_scrubbed/feature-table.biom',
                         'BE_Ross_paired_species_WOL_scrubbed')

In [4]:
#WOL - scrubbed
normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/genome_WOL_R1_R2_paired_scrubbed/feature-table.biom',
                         'BE_exact_Ross_paired_genome_WOL_scrubbed',
                        exact_pairs=True)

#WOL
normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired.biom',
                         'BE_Ross_paired_species_WOL')

normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired.biom',
                         'BE_exact_Ross_paired_species_WOL',
                         exact_pairs=True)

normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/genome_WOL_R1_R2_paired.biom',
                         'BE_Ross_paired_genome_WOL')

normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/genome_WOL_R1_R2_paired.biom',
                         'BE_zebra_Ross_paired_genome_WOL',
                        zebra = 'Ross_WOL')

normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/genome_WOL_R1_R2_paired.biom',
                         'BE_zebra_exact_Ross_paired_genome_WOL',
                         exact_pairs=True,
                        zebra = 'Ross_WOL')

#Rep200
normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_rep200_R1_R2_paired.biom',
                         'BE_Ross_paired_species_rep200')

normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_rep200_R1_R2_paired.biom',
                         'BE_exact_Ross_paired_species_rep200',
                        exact_pairs=True)

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.3,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.5,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.2,0.975,NaN,0.3

Total number of samples in BE_exact_Ross_paired_genome_WOL_scrubbed  =  23

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in BE_Ross_paired_species_WOL  =  35

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.3,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.5,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.2,0.975,NaN,0.3

Total number of samples in BE_exact_Ross_paired_species_WOL  =  23

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in BE_Ross_paired_genome_WOL  =  35

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

Total number of samples in BE_zebra_Ross_paired_genome_WOL  =  35

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.3,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.5,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.2,0.975,NaN,0.3

Total number of samples in BE_zebra_exact_Ross_paired_genome_WOL  =  23

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in BE_Ross_paired_species_rep200  =  35

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.3,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.5,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.2,0.975,NaN,0.3

Total number of samples in BE_exact_Ross_paired_species_rep200  =  23

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [8]:
normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_combo_R1_R2_paired_unpaired.biom',
                         'BE_Ross_combo_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in BE_Ross_combo_species_WOL  =  35

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [10]:
normal_be_eac_data_split(['Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_unpaired.biom',
                         'BE_Ross_unpaired_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in BE_Ross_unpaired_species_WOL  =  35

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### EAC

###### Used in paper

In [10]:
#WOL - scrubbed
normal_be_eac_data_split(['EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired_scrubbed/feature-table.biom',
                         'EAC_Ross_paired_species_WOL_scrubbed_rmBad',
                        remove_bad_microbes=True)

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"950,588,085",93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"995,657,497",93.70,306.0,5.03,0.224,58.86,0.972,NaN,0.7
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"1,068,844,258",93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4

Total number of samples in EAC_Ross_paired_species_WOL_scrubbed_rmBad  =  30
<artifact: FeatureTable[Frequency] uuid: 49ed5da6-ab3f-48dc-9ed7-8a6cce391086>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:127: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [3]:
#WOL - scrubbed
normal_be_eac_data_split(['EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired_scrubbed/feature-table.biom',
                         'EAC_Ross_ginny_species_WOL_scrubbed',
                        Ginny_list=True)

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),...,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity,EGA_ID,EGAIdentifier
70,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,...,93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5,EGAF00000530893,LP6007520-DNA_A01
71,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,...,93.70,306.0,5.03,0.224,58.86,0.972,NaN,0.7,EGAF00000586547,LP6005334-DNA_A03
72,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,...,93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4,EGAF00000525525,LP6007409-DNA_A01
73,Tumor_13_EGAF00000525466,13,EAC,"Royal Surrey County Hospital, Guildford",F,61,T2N0M0,IB,Blood,15.0,...,93.49,310.0,4.53,0.217,82.11,0.978,NaN,0.5,EGAF00000525466,LP6005690-DNA_F01
74,Tumor_14_EGAF00000560172,14,EAC,"St Thomas Hospital, London",M,68,T3N1M0,IIIA,Blood,6.0,...,93.87,314.0,4.63,0.254,63.20,0.976,NaN,0.9,EGAF00000560172,LP6005500-DNA_E01
77,Tumor_15_EGAF00000525475,15,EAC,"Royal Surrey County Hospital, Guildford",M,75,T3N3M1,IV,Blood,9.0,...,90.40,308.0,6.36,0.240,83.40,0.973,NaN,0.7,EGAF00000525475,LP6005690-DNA_C01
80,Tumor_16_EGAF00000525474,16,EAC,"Addenbrookes Hospital, Cambridge",M,65,T3N1M0,IIIA,Blood,NaN,...,92.44,308.0,5.12,0.233,65.23,0.975,NaN,0.8,EGAF00000525474,LP6005690-DNA_F03
81,Tumor_17_EGAF00000525479,17,EAC,"Royal Surrey County Hospital, Guildford",M,82,T3N1M0,IIIA,Blood,6.0,...,92.48,310.0,5.05,0.239,62.44,0.975,NaN,0.8,EGAF00000525479,LP6005690-DNA_B02
82,Tumor_18_EGAF00000560173,18,EAC,"St Thomas Hospital, London",M,61,T3N1M0,IIIA,Blood,10.0,...,93.91,312.0,5.46,0.706,76.41,0.978,NaN,0.4,EGAF00000560173,LP6005500-DNA_F01
83,Tumor_19_EGAF00000530869,19,EAC,"Addenbrookes Hospital, Cambridge",M,75,T3N0M0,IIA,Blood,NaN,...,94.76,430.0,4.28,0.232,80.45,0.979,NaN,0.4,EGAF00000530869,LP2000104-DNA_A01
84,Tumor_1_EGAF00000501976,1,EAC,"Addenbrookes Hospital, Cambridge",M,62,T2N0M0,IB,Blood,NaN,...,95.13,297.0,4.27,0.225,75.79,0.978,NaN,0.6,EGAF00000501976,LP6007591
85,Tumor_20_EGAF00000560131,20,EAC,"Edinburgh Royal Infirmary, Edinburgh",F,79,T3N1M0,IIIA,Blood,NaN,...,94.00,308.0,4.67,0.231,77.76,0.978,NaN,0.5,EGAF00000560131,LP6005500-DNA_A01
86,Tumor_21_EGAF00000560132,21,EAC,"Royal Surrey County Hospital, Guildford",M,61,T1N0M0,IA,Blood,5.0,...,93.79,308.0,4.80,0.251,64.93,0.976,NaN,0.6,EGAF00000560132,LP6005500-DNA_B01
87,Tumor_22_EGAF00000525477,22,EAC,"Royal Surrey County Hospital, Guildford",M,50,T3N3M0,IIIC,Blood,3.0,...,92.89,308.0,4.48,0.222,63.04,0.975,NaN,0.7,EGAF00000525477,LP6005690-DNA_E01
88,Tumor_23_EGAF00000501978,23,EAC,"Addenbrookes Hospital, Cambridge",M,64,TxNxMx,NaN,Blood,2.0,...,94.48,305.0,4.18,0.216,82.51,0.978,NaN,0.5,EGAF00000501978,LP6007597
89,Tumor_2_EGAF00000525468,2,EAC,"St Thomas Hospital, London",F,55,T2N1M0,IIB,Blood,6.0,...,92.98,303.0,5.17,0.220,89.29,0.977,NaN,0.6,EGAF00000525468,LP6005690-DNA_H01
90,Tumor_3_EGAF00000560133,3,EAC,"Addenbrookes Hospital, Cambridge",M,61,T3N2M1,IV,Blood,NaN,...,92.92,312.0,5.49,0.288,60.89,0.975,NaN,0.3,EGAF00000560133,LP6005500-DNA_D01
91,Tumor_4_EGAF00000525476,4,EAC,"Royal Surrey County Hospital, Guildford",M,58,T3N1M0,IIIA,Blood,3.0,...,93.00,313.0,4.13,0.215,76.81,0.978,NaN,0.7,EGAF00000525476,LP6005690-DNA_D01
93,Tumor_5_EGAF00000525478,5,EAC,"Gloucestershire Royal Hospital, Gloucester",M,64,T1N0M0,IA,Blood,NaN,...,92.11,305.0,4.77,0.237,59.99,0.975,NaN,0.7,EGAF00000525478,LP6005690-DNA_A02
94,Tumor_6_EGAF00000560171,6,EAC,"Gloucestershire Royal Hospital, Gloucester",M,73,T3N1Mx,NaN,Blood,NaN,...,93.19,309.0,5.30,0.265,66.88,0.976,NaN,0.2,EGAF00000560171,LP6005500-DNA_C01
95,Tumor_7_EGAF00000501977,7,EAC,"Addenbrookes Hospital, Cambridge",M,75,T3N0M0,IIA,Blood,NaN,...,94.94,313.0,4.38,0.225,76.14,0.978,NaN,0.5,EGAF00000501977,LP6007594
96,Tumor_8_EGAF00000525467,8,EAC,"Salford Royal Infirmary, Manchester",M,65,T2N0M0,IB,Blood,5.0,...,92.75,307.0,5.10,0.231,81.73,0.976,NaN,0.9,EGAF00000525467,LP6005690-DNA_G01
99,Tumor_9_EGAF00000525188,9,EAC,"Addenbrookes Hospital, Cambridge",M,67,T1N0M0,IA,Blood,5.0,...,93.67,306.0,4.72,0.226,66.52,0.976,NaN,0.6,EGAF00000525188,LP6007404-DNA_A01

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),...,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity,EGA_ID,EGAIdentifier
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,...,93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5,EGAF00000530893,LP6007520-DNA_A01
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,...,93.70,306.0,5.03,0.224,58.86,0.972,NaN,0.7,EGAF00000586547,LP6005334-DNA_A03
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,...,93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4,EGAF00000525525,LP6007409-DNA_A01

Total number of samples in EAC_Ross_ginny_species_WOL_scrubbed  =  23
<artifact: FeatureTable[Frequency] uuid: 69577db9-21bc-4666-945f-ff410ed88bba>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:127: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

###### Not in paper

In [10]:
#WOL - scrubbed
normal_be_eac_data_split(['EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired_scrubbed/feature-table.biom',
                         'EAC_Ross_paired_species_WOL_scrubbed')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"950,588,085",93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"995,657,497",93.70,306.0,5.03,0.224,58.86,0.972,NaN,0.7
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"1,068,844,258",93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4

Total number of samples in EAC_Ross_paired_species_WOL_scrubbed  =  30
<artifact: FeatureTable[Frequency] uuid: 47764dbc-610f-41f9-87ff-09493f70a123>

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:103: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [3]:
#WOL - scrubbed
normal_be_eac_data_split(['EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/genome_WOL_R1_R2_paired_scrubbed/feature-table.biom',
                         'EAC_Ross_paired_genome_WOL_scrubbed')

#WOL
normal_be_eac_data_split(['EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired.biom',
                         'EAC_Ross_paired_species_WOL')

normal_be_eac_data_split(['EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/genome_WOL_R1_R2_paired.biom',
                         'EAC_Ross_paired_genome_WOL')

normal_be_eac_data_split(['EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired.biom',
                         'EAC_exact_Ross_paired_species_WOL',
                         exact_pairs=True)

normal_be_eac_data_split(['EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/genome_WOL_R1_R2_paired.biom',
                         'EAC_zebra_Ross_paired_genome_WOL',
                        zebra = 'Ross_WOL')

normal_be_eac_data_split(['EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/genome_WOL_R1_R2_paired.biom',
                         'EAC_zebra_exact_Ross_paired_genome_WOL',
                         exact_pairs=True,
                        zebra = 'Ross_WOL')

#Rep200
normal_be_eac_data_split(['EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_rep200_R1_R2_paired.biom',
                         'EAC_Ross_paired_species_rep200')

normal_be_eac_data_split(['EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_rep200_R1_R2_paired.biom',
                         'EAC_exact_Ross_paired_species_rep200',
                         exact_pairs = True)

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"950,588,085",93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"995,657,497",93.70,306.0,5.03,0.224,58.86,0.972,NaN,0.7
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"1,068,844,258",93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4

Total number of samples in EAC_Ross_paired_genome_WOL_scrubbed  =  30

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"950,588,085",93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"995,657,497",93.70,306.0,5.03,0.224,58.86,0.972,NaN,0.7
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"1,068,844,258",93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4

Total number of samples in EAC_Ross_paired_species_WOL  =  30

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"950,588,085",93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"995,657,497",93.70,306.0,5.03,0.224,58.86,0.972,NaN,0.7
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"1,068,844,258",93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4

Total number of samples in EAC_Ross_paired_genome_WOL  =  30

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"950,588,085",93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"995,657,497",93.7,306.0,5.03,0.224,58.86,0.972,NaN,0.7
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"1,068,844,258",93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4

Total number of samples in EAC_exact_Ross_paired_species_WOL  =  23

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"950,588,085",93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"995,657,497",93.70,306.0,5.03,0.224,58.86,0.972,NaN,0.7
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"1,068,844,258",93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4

Total number of samples in EAC_zebra_Ross_paired_genome_WOL  =  30

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"950,588,085",93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"995,657,497",93.7,306.0,5.03,0.224,58.86,0.972,NaN,0.7
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"1,068,844,258",93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4

Total number of samples in EAC_zebra_exact_Ross_paired_genome_WOL  =  23

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"950,588,085",93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"995,657,497",93.70,306.0,5.03,0.224,58.86,0.972,NaN,0.7
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"1,068,844,258",93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4

Total number of samples in EAC_Ross_paired_species_rep200  =  30

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"950,588,085",93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"995,657,497",93.7,306.0,5.03,0.224,58.86,0.972,NaN,0.7
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"1,068,844,258",93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4

Total number of samples in EAC_exact_Ross_paired_species_rep200  =  23

/Users/cguccion/Dropbox/current_Fall23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [6]:
normal_be_eac_data_split('EAC',
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_combo_R1_R2_paired_unpaired.biom',
                         'EAC_Ross_combo_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Tumor_10_EGAF00000530893,10,EAC,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"950,588,085",93.72,315.0,4.57,0.229,58.65,0.975,NaN,0.5
1,Tumor_11_EGAF00000586547,11,EAC,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"995,657,497",93.70,306.0,5.03,0.224,58.86,0.972,NaN,0.7
2,Tumor_12_EGAF00000525525,12,EAC,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"1,068,844,258",93.33,299.0,4.91,0.235,64.32,0.976,NaN,0.4

Total number of samples in EAC_Ross_combo_species_WOL  =  30

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### (Not used in paper) Normal

In [7]:
normal_be_eac_data_split('Normal',
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_combo_R1_R2_paired_unpaired.biom',
                         'Norm_Ross_combo_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Normal_10_EGAF00000530908,10,Normal,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"807,792,398",92.49,296.0,5.03,0.245,48.64,0.968,3523708.0,NaN
1,Normal_11_EGAF00000586533,11,Normal,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"639,793,060",92.22,315.0,4.88,0.241,37.77,0.969,3541117.0,NaN
2,Normal_12_EGAF00000525507,12,Normal,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"559,984,669",88.64,299.0,5.09,0.257,32.15,0.964,3491591.0,NaN

Total number of samples in Norm_Ross_combo_species_WOL  =  23

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [7]:
normal_be_eac_data_split(['Normal'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired.biom',
                         'Norm_Ross_paired_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Normal_10_EGAF00000530908,10,Normal,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"807,792,398",92.49,296.0,5.03,0.245,48.64,0.968,3523708.0,NaN
1,Normal_11_EGAF00000586533,11,Normal,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"639,793,060",92.22,315.0,4.88,0.241,37.77,0.969,3541117.0,NaN
2,Normal_12_EGAF00000525507,12,Normal,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"559,984,669",88.64,299.0,5.09,0.257,32.15,0.964,3491591.0,NaN

Total number of samples in Norm_Ross_paired_species_WOL  =  23

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### (Not used in paper) Normal + BE

In [10]:
normal_be_eac_data_split(['Normal', 'Barretts'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired.biom',
                         'Norm_BE_Ross_paired_species_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in Norm_BE_Ross_paired_species_WOL  =  58

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:32: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### (Not used in paper) BE + EAC

In [3]:
normal_be_eac_data_split(['Barretts', 'EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired.biom',
                         'BE_EAC_Ross_paired_species_WOL')

normal_be_eac_data_split(['Barretts', 'EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/genome_WOL_R1_R2_paired.biom',
                         'BE_EAC_Ross_paired_genome_WOL')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in BE_EAC_Ross_paired_species_WOL  =  65

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:54: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.30,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.50,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.20,0.975,NaN,0.3

Total number of samples in BE_EAC_Ross_paired_genome_WOL  =  65

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:54: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

##### (Not used in paper) Exact Pairs of BE/EAC
Note: Still unclear why some have multiple BE samples in the paper, so chose random BE for each patient

In [4]:
normal_be_eac_data_split(['Barretts', 'EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/species_WOL_R1_R2_paired.biom',
                         'BE_EAC_exact_Ross_paired_species_WOL',
                         exact_pairs=True)

normal_be_eac_data_split(['Barretts', 'EAC'],
                         os.getcwd() + '/qiita_downloads/qiitaTBD_Norm_BE_EAC/genome_WOL_R1_R2_paired.biom',
                         'BE_EAC_exact_Ross_paired_genome_WOL',
                        exact_pairs=True)

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.3,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.5,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.2,0.975,NaN,0.3

Total number of samples in BE_EAC_exact_Ross_paired_species_WOL  =  46

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:54: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,Patient,Sample_type,Centre,Gender,Age_at_time_of_diagnosis,TNM7,Stage,Germline tissue,BE maximal length (cm),Tumor length (mm),purity-filtered pairs,% aligned pairs,median insert size,% mapQ=0,error rate HiQ,genome coverage mapQ>3,Callable genome,totalNumberSnps,Sample purity
0,Barretts_10_EGAF00000530875,10,Barretts,"Addenbrookes Hospital, Cambridge",F,79,T2N0M0,IB,Blood,4.0,15.0,"935,820,463",92.57,339.0,5.3,0.245,55.76,0.975,NaN,0.8
1,Barretts_11_EGAF00000586502,11,Barretts,"Addenbrookes Hospital, Cambridge",M,67,T4N2M0,IIIC,Normal esophagus,3.0,70.0,"1,135,954,265",93.5,300.0,4.77,0.231,67.45,0.976,NaN,0.6
2,Barretts_12_EGAF00000525202,12,Barretts,"Addenbrookes Hospital, Cambridge",M,65,T2N1M0,IIB,Blood,NaN,29.0,"955,544,208",93.01,310.0,5.04,0.243,57.2,0.975,NaN,0.3

Total number of samples in BE_EAC_exact_Ross_paired_genome_WOL  =  46

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:54: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

### (Supp?) From Sam: Barrett's Esophgous Progressors/Non Progressors: using MetaPhlan4
Paulson, T. G. et al. Somatic whole genome dynamics of precancer in Barrett’s esophagus reveals features associated with disease progression. Nature Communications vol. 13 (2022) https://doi.org/10.1038/s41467-022-29767-7

##### Barrett's Esophgous

In [2]:
#Relative Abudnace
Sam_BE_data_split(['NP', 'Prog'], ['T1', 'T2'], #, 'LongFollowUp'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/metaphlan.wide.species.csv',
              'BE_species_MP')

#Counts
Sam_BE_data_split(['NP', 'Prog'], ['T1', 'T2'], #, 'LongFollowUp'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598

Total number of samples in BE_species_MP  =  202

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598

Total number of samples in BE_species_MP_counts  =  202

##### Barrett's Esophgous Non Progressors

In [3]:
Sam_BE_data_split(['NP',], ['T1', 'T2'], #, 'LongFollowUp'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/metaphlan.wide.species.csv',
              'BE_NP_species_MP')

#Counts
Sam_BE_data_split(['NP'], ['T1', 'T2'], #, 'LongFollowUp'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_NP_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598

Total number of samples in BE_NP_species_MP  =  111

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598
2,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598

Total number of samples in BE_NP_species_MP_counts  =  111

##### Barrett's Esophgous Non Progressors T1

In [4]:
Sam_BE_data_split(['NP',], ['T1'], 
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/metaphlan.wide.species.csv',
              'BE_NP_T1_species_MP')

#Counts
Sam_BE_data_split(['NP'], ['T1'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_NP_T1_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598

Total number of samples in BE_NP_T1_species_MP  =  53

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.01,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,3,23561,NP,78.83,14598
1,14598.PCGA.1064.BE.02,White_nonHispanic,M,17,T1,1,17-24987N-105W-BLD,7,23564,NP,78.83,14598
2,14598.PCGA.1067.BE.01,Asian_PacificIslander,M,55,T1,1,55-25056N-204U-BLD,3,23611,NP,53.23,14598

Total number of samples in BE_NP_T1_species_MP_counts  =  53

##### Barrett's Esophgous Non Progressors T2

In [5]:
Sam_BE_data_split(['NP',], ['T2'], 
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/metaphlan.wide.species.csv',
              'BE_NP_T2_species_MP')

#Counts
Sam_BE_data_split(['NP'], ['T2'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_NP_T2_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598

Total number of samples in BE_NP_T2_species_MP  =  58

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1064.BE.03,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,4,23567,NP,87.07,14598
1,14598.PCGA.1064.BE.04,White_nonHispanic,M,17,T2,1,17-24987N-105W-BLD,1,24933,NP,87.07,14598
2,14598.PCGA.1067.BE.02,Asian_PacificIslander,M,55,T2,1,55-25056N-204U-BLD,1,23614,NP,57.07,14598

Total number of samples in BE_NP_T2_species_MP_counts  =  58

##### Barrett's Esophgous Progressors

In [6]:
Sam_BE_data_split(['Prog',], ['T1', 'T2'], #, 'LongFollowUp'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/metaphlan.wide.species.csv',
              'BE_Prog_species_MP')

#Counts
Sam_BE_data_split(['Prog'], ['T1', 'T2'], #, 'LongFollowUp'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_Prog_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598

Total number of samples in BE_Prog_species_MP  =  91

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598
2,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598

Total number of samples in BE_Prog_species_MP_counts  =  91

##### Barrett's Esophgous Progressors T1

In [7]:
Sam_BE_data_split(['Prog',], ['T1'], 
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/metaphlan.wide.species.csv',
              'BE_Prog_T1_species_MP')

#Counts
Sam_BE_data_split(['Prog'], ['T1'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_Prog_T1_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598
1,14598.PCGA.1065.BE.04,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,3,24292,Prog,56.25,14598
2,14598.PCGA.1066.BE.01,Other_Unknown,F,43,T1,1,43-24956N-29P-GST,1,23585,Prog,64.11,14598

Total number of samples in BE_Prog_T1_species_MP  =  40

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.03,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,5,24289,Prog,56.25,14598
1,14598.PCGA.1065.BE.04,Other_Unknown,M,42,T1,1,42-24954N-53L-GST,3,24292,Prog,56.25,14598
2,14598.PCGA.1066.BE.01,Other_Unknown,F,43,T1,1,43-24956N-29P-GST,1,23585,Prog,64.11,14598

Total number of samples in BE_Prog_T1_species_MP_counts  =  40

##### Barrett's Esophgous Progressors T2

In [8]:
Sam_BE_data_split(['Prog',], ['T2'], 
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/metaphlan.wide.species.csv',
              'BE_Prog_T2_species_MP')

#Counts
Sam_BE_data_split(['Prog'], ['T2'],
              '/Users/cguccion/Dropbox/Storage/RawData/23_06_23_Hutch_BE_Sam_Data/2023-06-23-metaphlan-analysis-bundle/convert_counts/metaphlan.wide.counts.species.csv',
              'BE_Prog_T2_species_MP_counts', True)

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598
2,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598

Total number of samples in BE_Prog_T2_species_MP  =  51

,sample_name,race,gender,patientid,sampletype,ismainstudy,pairednormal,distancefromgej,orginal_sampleid,progressionstatus,patientageatsample,qiita_study_id
0,14598.PCGA.1065.BE.01,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,5,24283,Prog,57.65,14598
1,14598.PCGA.1065.BE.02,Other_Unknown,M,42,T2,1,42-24954N-53L-GST,1,24286,Prog,57.65,14598
2,14598.PCGA.1066.BE.02,Other_Unknown,F,43,T2,1,43-24956N-29P-GST,4,23593,Prog,65.07,14598

Total number of samples in BE_Prog_T2_species_MP_counts  =  51

### Not used in paper: TCGA EAC: BAD
BAD: From TCGA, not exact paper

In [2]:
eac_tcga_data_split(os.getcwd() +'/qiita_downloads/qiita14990_EAC_TCGA/species_WOL/feature-table.biom',
                'EAC_TCGA_species_WOL')

eac_tcga_data_split(os.getcwd() +'/qiita_downloads/qiita14990_EAC_TCGA/171534_none_WOL.biom',
                'EAC_TCGA_zebra_genome_WOL',
                zebra = 'EAC_TCGA_WOL')

,sample_name,race,size,gender,case_id,project,ethnicity,aliquot_id,sample_type,sample_uuid,aliquot_uuid,disease_type,primary_site,vital_status,investigation,host_subject_id,qiita_study_id
0,14990.64226f74c281925c8815b407,white,192795648,female,TCGA-L5-A4OG,cguccione/tcga-eac,not reported,TCGA-L5-A4OG-01A-11D-A267-26,Primary Tumor,e8e44c65-b4e4-4688-a217-206905e68a7f,04c91c91-e55a-4075-b08a-f80568bb4a7b,Adenomas and Adenocarcinomas,Esophagus,Alive,TCGA-ESCA,eb4ad376-4cc1-4d2c-9b93-ad2b082c77c4,14990
1,14990.6422776e8c11cc752762f39b,white,143024713,male,TCGA-L5-A4OI,cguccione/tcga-eac,not reported,TCGA-L5-A4OI-01A-11D-A267-26,Primary Tumor,1b1cbb34-da71-4441-b1a1-c936e8f04c73,8d5a0d62-d9c1-46d1-9b81-685293b45e6b,Adenomas and Adenocarcinomas,Esophagus,Alive,TCGA-ESCA,cb2af13b-cbed-4657-8fd4-fed8db375cba,14990
2,14990.6422782f8c11cc752762f3a3,not reported,221282761,female,TCGA-L5-A43M,cguccione/tcga-eac,not reported,TCGA-L5-A43M-01A-11D-A248-26,Primary Tumor,aeec137a-e929-439c-b7e7-33943cffb642,97721561-b3ce-4b56-b0d2-b7c70e978526,Adenomas and Adenocarcinomas,Esophagus,Alive,TCGA-ESCA,29da08f4-c9e2-4e7a-9733-b4ec5b9c5f13,14990

Total number of samples in EAC_TCGA_species_WOL  =  19

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:54: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,race,size,gender,case_id,project,ethnicity,aliquot_id,sample_type,sample_uuid,aliquot_uuid,disease_type,primary_site,vital_status,investigation,host_subject_id,qiita_study_id
0,14990.64226f74c281925c8815b407,white,192795648,female,TCGA-L5-A4OG,cguccione/tcga-eac,not reported,TCGA-L5-A4OG-01A-11D-A267-26,Primary Tumor,e8e44c65-b4e4-4688-a217-206905e68a7f,04c91c91-e55a-4075-b08a-f80568bb4a7b,Adenomas and Adenocarcinomas,Esophagus,Alive,TCGA-ESCA,eb4ad376-4cc1-4d2c-9b93-ad2b082c77c4,14990
1,14990.6422776e8c11cc752762f39b,white,143024713,male,TCGA-L5-A4OI,cguccione/tcga-eac,not reported,TCGA-L5-A4OI-01A-11D-A267-26,Primary Tumor,1b1cbb34-da71-4441-b1a1-c936e8f04c73,8d5a0d62-d9c1-46d1-9b81-685293b45e6b,Adenomas and Adenocarcinomas,Esophagus,Alive,TCGA-ESCA,cb2af13b-cbed-4657-8fd4-fed8db375cba,14990
2,14990.6422782f8c11cc752762f3a3,not reported,221282761,female,TCGA-L5-A43M,cguccione/tcga-eac,not reported,TCGA-L5-A43M-01A-11D-A248-26,Primary Tumor,aeec137a-e929-439c-b7e7-33943cffb642,97721561-b3ce-4b56-b0d2-b7c70e978526,Adenomas and Adenocarcinomas,Esophagus,Alive,TCGA-ESCA,29da08f4-c9e2-4e7a-9733-b4ec5b9c5f13,14990

Total number of samples in EAC_TCGA_zebra_genome_WOL  =  19

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:54: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

### Not used in paper: EAC : OLD ICGC, 14521
From ICGC , not exact paper

In [2]:
eac_data_split(os.getcwd() +'/qiita_downloads/qiita14521_EAC_ICGC/147030_species_WOL.biom',
                'EAC_species_WOL')

eac_data_split(os.getcwd() +'/qiita_downloads/qiita14521_EAC_ICGC/147032_genome_WOL.biom',
                'EAC_genome_WOL')

eac_data_split(os.getcwd() +'/qiita_downloads/qiita14521_EAC_ICGC/147032_genome_WOL.biom',
                'EAC_zebra_genome_WOL',
              zebra= 'EAC_WOL')

eac_data_split(os.getcwd() +'/qiita_downloads/qiita14521_EAC_ICGC/147030_species_WOL.biom',
                'EAC_species_23_WOL',
              trim = 48)

eac_data_split(os.getcwd() +'/qiita_downloads/qiita14521_EAC_ICGC/147032_genome_WOL.biom',
                'EAC_genome_zebra_23_WOL',
               zebra = 'EAC_WOL',
              trim = 48)

eac_data_split(os.getcwd() +'/qiita_downloads/qiita14521_EAC_ICGC/147032_genome_WOL.biom',
                'EAC_genome_WOL_lowStage',
              stage='low')

eac_data_split(os.getcwd() +'/qiita_downloads/qiita14521_EAC_ICGC/147032_genome_WOL.biom',
                'EAC_genome_WOL_highStage',
              stage='high')

eac_data_split(os.getcwd() +'/qiita_downloads/qiita14521_EAC_ICGC/147030_species_WOL.biom',
                'EAC_species_WOL_lowStage',
              stage = 'low')

eac_data_split(os.getcwd() +'/qiita_downloads/qiita14521_EAC_ICGC/147030_species_WOL.biom',
                'EAC_species_WOL_highStage',
              stage = 'high')

,sample_name,cancer_history_first_degree_relative,disease_status_last_followup,donor_age_at_diagnosis,donor_age_at_enrollment,donor_age_at_last_followup,donor_diagnosis_icd10,donor_interval_of_last_followup,donor_relapse_interval,donor_relapse_type,...,donor_vital_status,filename,icgc_donor_id,icgc_sample_id,prior_malignancy,project,project_code,qiita_study_id,study_donor_involved_in,submitted_donor_id
0,14521.006cdcd42d55e07a2fd1ad2d31dd1a87,unknown,relapse,58.0,58.0,58.0,C15.5,299.0,123.0,distant recurrence/metastasis,...,deceased,006cdcd42d55e07a2fd1ad2d31dd1a87.filtered.bam,DO50381,SA528854,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-RS-031
1,14521.0337efea9b59b88f804ea384c356377c,no,no evidence of disease,65.0,65.0,66.0,C15.5,712.0,NaN,NaN,...,deceased,0337efea9b59b88f804ea384c356377c.filtered.bam,DO50389,SA528947,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-SH-071
2,14521.04a446c6a660694dafe43ccaf1db7162,unknown,stable,67.0,NaN,68.0,C15.5,401.0,NaN,NaN,...,alive,04a446c6a660694dafe43ccaf1db7162.filtered.bam,DO50412,SA528884,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-ZZ-019

Total number of samples in EAC_species_WOL  =  98

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,cancer_history_first_degree_relative,disease_status_last_followup,donor_age_at_diagnosis,donor_age_at_enrollment,donor_age_at_last_followup,donor_diagnosis_icd10,donor_interval_of_last_followup,donor_relapse_interval,donor_relapse_type,...,donor_vital_status,filename,icgc_donor_id,icgc_sample_id,prior_malignancy,project,project_code,qiita_study_id,study_donor_involved_in,submitted_donor_id
0,14521.006cdcd42d55e07a2fd1ad2d31dd1a87,unknown,relapse,58.0,58.0,58.0,C15.5,299.0,123.0,distant recurrence/metastasis,...,deceased,006cdcd42d55e07a2fd1ad2d31dd1a87.filtered.bam,DO50381,SA528854,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-RS-031
1,14521.0337efea9b59b88f804ea384c356377c,no,no evidence of disease,65.0,65.0,66.0,C15.5,712.0,NaN,NaN,...,deceased,0337efea9b59b88f804ea384c356377c.filtered.bam,DO50389,SA528947,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-SH-071
2,14521.04a446c6a660694dafe43ccaf1db7162,unknown,stable,67.0,NaN,68.0,C15.5,401.0,NaN,NaN,...,alive,04a446c6a660694dafe43ccaf1db7162.filtered.bam,DO50412,SA528884,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-ZZ-019

Total number of samples in EAC_genome_WOL  =  98

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,cancer_history_first_degree_relative,disease_status_last_followup,donor_age_at_diagnosis,donor_age_at_enrollment,donor_age_at_last_followup,donor_diagnosis_icd10,donor_interval_of_last_followup,donor_relapse_interval,donor_relapse_type,...,donor_vital_status,filename,icgc_donor_id,icgc_sample_id,prior_malignancy,project,project_code,qiita_study_id,study_donor_involved_in,submitted_donor_id
0,14521.006cdcd42d55e07a2fd1ad2d31dd1a87,unknown,relapse,58.0,58.0,58.0,C15.5,299.0,123.0,distant recurrence/metastasis,...,deceased,006cdcd42d55e07a2fd1ad2d31dd1a87.filtered.bam,DO50381,SA528854,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-RS-031
1,14521.0337efea9b59b88f804ea384c356377c,no,no evidence of disease,65.0,65.0,66.0,C15.5,712.0,NaN,NaN,...,deceased,0337efea9b59b88f804ea384c356377c.filtered.bam,DO50389,SA528947,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-SH-071
2,14521.04a446c6a660694dafe43ccaf1db7162,unknown,stable,67.0,NaN,68.0,C15.5,401.0,NaN,NaN,...,alive,04a446c6a660694dafe43ccaf1db7162.filtered.bam,DO50412,SA528884,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-ZZ-019

Total number of samples in EAC_zebra_genome_WOL  =  98

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,cancer_history_first_degree_relative,disease_status_last_followup,donor_age_at_diagnosis,donor_age_at_enrollment,donor_age_at_last_followup,donor_diagnosis_icd10,donor_interval_of_last_followup,donor_relapse_interval,donor_relapse_type,...,donor_vital_status,filename,icgc_donor_id,icgc_sample_id,prior_malignancy,project,project_code,qiita_study_id,study_donor_involved_in,submitted_donor_id
48,14521.3756a5bb0047504a87838271674b6424,yes,stable,60.0,60.0,63.0,C15.5,1262.0,NaN,NaN,...,deceased,3756a5bb0047504a87838271674b6424.filtered.bam,DO50441,SA528993,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-AH-174
27,14521.18b320f63f6c5dd2dd4e0c30c87a1ce9,unknown,no evidence of disease,75.0,75.0,77.0,C15.5,1003.0,NaN,NaN,...,alive,18b320f63f6c5dd2dd4e0c30c87a1ce9.filtered.bam,DO50434,SA528916,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-AH-061
79,14521.5d003d442dbaf291b70d2d8a85db9670,no,stable,50.0,50.0,50.0,C15.5,239.0,79.0,NaN,...,deceased,5d003d442dbaf291b70d2d8a85db9670.filtered.bam,DO50402,SA528872,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-WG-002

Total number of samples in EAC_species_23_WOL  =  24

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,cancer_history_first_degree_relative,disease_status_last_followup,donor_age_at_diagnosis,donor_age_at_enrollment,donor_age_at_last_followup,donor_diagnosis_icd10,donor_interval_of_last_followup,donor_relapse_interval,donor_relapse_type,...,donor_vital_status,filename,icgc_donor_id,icgc_sample_id,prior_malignancy,project,project_code,qiita_study_id,study_donor_involved_in,submitted_donor_id
95,14521.706e8a8516284214f76ba9a63b61697d,unknown,stable,57.0,57.0,59.0,C15.5,1059.0,NaN,NaN,...,alive,706e8a8516284214f76ba9a63b61697d.filtered.bam,DO50408,SA528878,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-WG-019
27,14521.18b320f63f6c5dd2dd4e0c30c87a1ce9,unknown,no evidence of disease,75.0,75.0,77.0,C15.5,1003.0,NaN,NaN,...,alive,18b320f63f6c5dd2dd4e0c30c87a1ce9.filtered.bam,DO50434,SA528916,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-AH-061
165,14521.d073e37c97d855da5783148477977ec5,yes,no evidence of disease,79.0,79.0,81.0,C15.5,860.0,NaN,NaN,...,alive,d073e37c97d855da5783148477977ec5.filtered.bam,DO50445,SA528928,unknown,ESAD-UK,ESAD-UK,14521,PCAWG,OCCAMS-ED-036

Total number of samples in EAC_genome_zebra_23_WOL  =  26

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,cancer_history_first_degree_relative,disease_status_last_followup,donor_age_at_diagnosis,donor_age_at_enrollment,donor_age_at_last_followup,donor_diagnosis_icd10,donor_interval_of_last_followup,donor_relapse_interval,donor_relapse_type,...,tumour_histological_type,tumour_grading_system,tumour_grade,tumour_grade_supplemental,tumour_stage_system,tumour_stage,tumour_stage_supplemental,digital_image_of_stained_section,percentage_cellularity,level_of_cellularity
0,14521.04ceb5f141916f7fc091a5e0aa51ada3,no,no evidence of disease,74.0,74.0,76.0,C15.5,767.0,NaN,NaN,...,8140/3,standard,2.0,NaN,TNM7,T2N0M0,NaN,NaN,NaN,NaN
1,14521.08f6c8561dcbc9c4e311cc79d87c73fa,yes,stable,53.0,53.0,57.0,C15.5,1771.0,NaN,NaN,...,8140/3,standard,2.0,NaN,TNM7,T4aN0M,NaN,NaN,NaN,NaN
2,14521.0b7983f4d85911b7351f5136819c96f1,yes,stable,56.0,56.0,60.0,C15.5,1473.0,NaN,NaN,...,8140/3,standard,2.0,NaN,TNM7,T3N0M0,NaN,NaN,NaN,NaN

Total number of samples in EAC_genome_WOL_lowStage  =  16

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,cancer_history_first_degree_relative,disease_status_last_followup,donor_age_at_diagnosis,donor_age_at_enrollment,donor_age_at_last_followup,donor_diagnosis_icd10,donor_interval_of_last_followup,donor_relapse_interval,donor_relapse_type,...,tumour_histological_type,tumour_grading_system,tumour_grade,tumour_grade_supplemental,tumour_stage_system,tumour_stage,tumour_stage_supplemental,digital_image_of_stained_section,percentage_cellularity,level_of_cellularity
0,14521.0337efea9b59b88f804ea384c356377c,no,no evidence of disease,65.0,65.0,66.0,C15.5,712.0,NaN,NaN,...,8140/3,standard,3.0,NaN,TNM7,T3N2M,NaN,NaN,NaN,NaN
1,14521.066f8f871be1147c121d60aa552efad0,unknown,stable,67.0,67.0,72.0,C15.5,2162.0,NaN,NaN,...,8140/3,standard,3.0,NaN,TNM7,T3N0M0,NaN,NaN,NaN,NaN
2,14521.0a250b03103541ef9137514aa0ac5af0,unknown,no evidence of disease,73.0,73.0,76.0,C15.5,1127.0,NaN,NaN,...,8140/3,standard,3.0,NaN,TNM7,T3N1M,NaN,NaN,NaN,NaN

Total number of samples in EAC_genome_WOL_highStage  =  16

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,cancer_history_first_degree_relative,disease_status_last_followup,donor_age_at_diagnosis,donor_age_at_enrollment,donor_age_at_last_followup,donor_diagnosis_icd10,donor_interval_of_last_followup,donor_relapse_interval,donor_relapse_type,...,tumour_histological_type,tumour_grading_system,tumour_grade,tumour_grade_supplemental,tumour_stage_system,tumour_stage,tumour_stage_supplemental,digital_image_of_stained_section,percentage_cellularity,level_of_cellularity
0,14521.04ceb5f141916f7fc091a5e0aa51ada3,no,no evidence of disease,74.0,74.0,76.0,C15.5,767.0,NaN,NaN,...,8140/3,standard,2.0,NaN,TNM7,T2N0M0,NaN,NaN,NaN,NaN
1,14521.08f6c8561dcbc9c4e311cc79d87c73fa,yes,stable,53.0,53.0,57.0,C15.5,1771.0,NaN,NaN,...,8140/3,standard,2.0,NaN,TNM7,T4aN0M,NaN,NaN,NaN,NaN
2,14521.0b7983f4d85911b7351f5136819c96f1,yes,stable,56.0,56.0,60.0,C15.5,1473.0,NaN,NaN,...,8140/3,standard,2.0,NaN,TNM7,T3N0M0,NaN,NaN,NaN,NaN

Total number of samples in EAC_species_WOL_lowStage  =  16

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

,sample_name,cancer_history_first_degree_relative,disease_status_last_followup,donor_age_at_diagnosis,donor_age_at_enrollment,donor_age_at_last_followup,donor_diagnosis_icd10,donor_interval_of_last_followup,donor_relapse_interval,donor_relapse_type,...,tumour_histological_type,tumour_grading_system,tumour_grade,tumour_grade_supplemental,tumour_stage_system,tumour_stage,tumour_stage_supplemental,digital_image_of_stained_section,percentage_cellularity,level_of_cellularity
0,14521.0337efea9b59b88f804ea384c356377c,no,no evidence of disease,65.0,65.0,66.0,C15.5,712.0,NaN,NaN,...,8140/3,standard,3.0,NaN,TNM7,T3N2M,NaN,NaN,NaN,NaN
1,14521.066f8f871be1147c121d60aa552efad0,unknown,stable,67.0,67.0,72.0,C15.5,2162.0,NaN,NaN,...,8140/3,standard,3.0,NaN,TNM7,T3N0M0,NaN,NaN,NaN,NaN
2,14521.0a250b03103541ef9137514aa0ac5af0,unknown,no evidence of disease,73.0,73.0,76.0,C15.5,1127.0,NaN,NaN,...,8140/3,standard,3.0,NaN,TNM7,T3N1M,NaN,NaN,NaN,NaN

Total number of samples in EAC_species_WOL_highStage  =  16

/Users/cguccion/Dropbox/current_Summer23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:90: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()