# Genearate Data
Generate all data needed to run analysis

### Imports

In [1]:
import pandas as pd

user_path = '/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/'

In [2]:
from python_scripts.import_split_biom import gerd_normal_data_split

### Datatypes

In [3]:
gerd_normal_data_split('Normal',
                       user_path +'qiita_downloads/qiita14458_NormalGerdEsoph/169129_perGenome_RS210.biom',
                       'normal_genome_RS210')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373136,55,YES,F,YES,Normal,H98_S89_SG,NO,H98,14458
1,14458.ERR2373134,70,YES,F,YES,Normal,H96_S87_SG,NO,H96,14458
2,14458.ERR2373133,23,YES,F,YES,Normal,H95_S86_SG,NO,H95,14458

Total number of samples in normal_genome_RS210  =  50

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:41: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()

In [4]:
gerd_normal_data_split('GERD',
                       user_path +'qiita_downloads/qiita14458_NormalGerdEsoph/169129_perGenome_RS210.biom',
                       'GERD_genome_RS210')

,sample_name,age,ppi,gender,shotgun,diagnosis,og_sample_name,reflux_symptoms,metadata_sample_id,qiita_study_id
0,14458.ERR2373137,53,NO,M,YES,GERD,H99_S90_SG,YES,H99,14458
1,14458.ERR2373135,36,NO,M,YES,GERD,H97_S88_SG,YES,H97,14458
2,14458.ERR2373132,34,NO,F,YES,GERD,H94_S85_SG,YES,H94,14458

Total number of samples in GERD_genome_RS210  =  29

/Users/cguccion/Dropbox/current_Spring23/ISMEJ_EsophModeling_Paper/Figures/comad_of_EAC_progression/python_scripts/import_split_biom.py:41: FutureWarning: The behavior of .astype from SparseDtype to a non-sparse dtype is deprecated. In a future version, this will return a non-sparse array with the requested dtype. To retain the old behavior, use `obj.astype(SparseDtype(dtype))`
  df.to_csv(filename, sep = '\t')

()